.category-list {
    width: 100%;
    min-height: 100vh;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(238, 245, 245);
    padding: 40px 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);

}

.category-list>div {
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    height: 100%;
}

.category-list h1 {
    font-size: 2.5rem;
    color: #1f1e28;
    text-align: center;
    margin: 40px 0;
}

.category-list-boxes {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.category-list-boxes>a {
    width: 22%;
    height: 230px;
    background-color: rgb(246, 252, 252);
    border-radius: 10px;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0 10px;
    text-align: center;
    box-shadow: 0 4px 0 rgb(107 127 153 / 50%);
    border: 1.8px solid #dce2e5;
}

.category-list-boxes>a:hover {
    box-shadow: 0 6px 0 rgb(107 127 153 / 50%);
    margin-top: .5px;
}

.category-list-boxes img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.category-list-boxes h3 {
    margin: 10px 0;
    padding: 0 10px;
}

.category-list-boxes p {
    font-size: .9rem;
    color: gray;
    margin: 5px 0;
}

@media screen and (max-width:500px) {
    .category-list-boxes>a {
        width: 100%;
    }
}

@media screen and (min-width:500px) and (max-width:800px) {
    .category-list>div{
        width: 70%;
    }
}
@media screen and (min-width:500px) and (max-width:800px) {
    .category-list-boxes>a {
        width: 45%;
    }
}
@media screen and (min-width:800px) and (max-width:1200px) {
    .category-list>div{
        width: 80%;
    }

    .category-list-boxes>a {
        width: 30%;
    }
}