.coming-soon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.coming-soon h1{
    font-size: 3rem;
    text-align: left;
    margin: 20px;
}
@media screen and (max-width:400px){
    .coming-soon{
        flex-direction: column;
    }
}