.coming-soon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.coming-soon h1{
    font-size: 3rem;
    text-align: left;
    margin: 20px;
    text-shadow: 0 0 0;
}
@media screen and (max-width:400px){
    .coming-soon{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}