.payment-bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #e3e3e3;

}

.dark-bordered {
    min-width: 130vw;
    position: absolute;
    top: 0;
    z-index: 0;
    background-color: #2d3846;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 350px;
}

.payments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.topic-payment {
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-70px);
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
}

.topic-payment span {
    background-color: #40bf9c;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 23px;
    font-weight: 700;
    display: inline-block;
    margin-left: 3px;

}

.topic-payment a {
    position: absolute;
    left: 17%;
    color: wheat;
}

.payment-plan__header-content h3 {
    font-size: 1.5rem;
}

.payment-plan__header-content p {
    font-size: 15px;
    color: rgb(206, 200, 200);
    margin: 10px 0;
}

.payment-card {
    position: absolute;
    top: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-card>div {
    width: 260px;
    height: 370px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    align-items: center;
    position: relative;
}

.payment-card div h4 {
    font-size: 1.4rem;
    color: #2d3846;
}

.payment-card div h4 sup {
    color: #898f96;
    font-weight: normal;
}

.sl-payment-plan__discount {
    background-color: #ef4343;
    position: absolute;
    top: -1px;
    right: 17px;
    width: 58px;
    height: 78px;
    color: #fff;
    font-size: 18px;
    line-height: 113.2%;
    letter-spacing: .02em;
    font-weight: 700;
    text-align: center;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-bottom: 10px;
}

.sl-payment-plan__discount-triangle {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-bottom: 15px solid #fff;
}

.payment-card img {
    width: 90px;
    height: 90px;
    margin: 30px 0;
}

.payment-card p {
    font-size: 15px;
    color: rgb(129, 130, 136);
}

.payment-card a {
    width: 95%;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2493df;
    margin-top: 30px;
    color: #2493df;
    background-color: rgb(241, 241, 245);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.payment-card>div:last-child a {
    color: #fff;
    background-color: #2493df;
}

.free-contimnue-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    bottom: 0;
    position: absolute;

}

.free-contimnue-link a {
    color: #6b7f99;
    font-size: 16px;
    margin-bottom: 38px;
    background: none;
    border: none;
    z-index: 1;
}

.free-contimnue-link a:hover {
    border-bottom: 1px solid #6b7f99;
}

@media screen and (max-width:500px) {
    .payment-card {
        flex-wrap: wrap;
    }

    .payment-card>div {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        margin: 30px 0;
    }

    .payment-bg {
        height: 200vh;

    }
    .payment-plan__header-content h3{
        font-size: 1.2rem;
        padding: 0 80px;
    }
    .dark-bordered {
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
    }
    
}
@media screen and (min-width:500px) and (max-width:1200px){

    .payment-bg {
        height: 120vh;

    }
    
}