/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.descuss {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0;
    min-height: 200vh;
    background-color: rgb(241, 241, 241);
    padding-top: 150px;
}

.Discussions {
    width: 40%;
    min-height: 400px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px rgb(160, 159, 159);
    box-shadow: 1px 1px 3px rgb(160, 159, 159);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 0 20px;
}

.descussion-head {
    width: 100%;
}

.descussion-head h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

.question-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}

.question-section a {
    width: 120px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    background-color: mediumseagreen;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
}

.options {
    display: none;
}

.question-section form {
    width: 50%;
}

.question-section form div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    border: 1px solid rgb(187, 178, 178);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.question-section form input {
    padding: 0 10px;
    width: 85%;
}

.question-section form button {
    background-color: rgb(5, 168, 114);
    width: 15%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

.people-question {
    width: 100%;
}

.people-question input {
    display: none;
}

.question-labels {
    width: 100%;
    border-bottom: 1px solid rgb(219, 214, 214);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
}

.question-labels label {
    width: 100px;
    height: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black;
    font-size: .8rem;
    font-weight: lighter;
    text-transform: capitalize;
}

.peopel-question-content {
    width: 100%;
}

#select-item {
    display: none;
}

#question-content-1,
#question-content-2,
#question-content-3,
#question-content-4,
#question-content-5 {
    display: none;
    padding: 10px 20px;
}

#trending:checked~.peopel-question-content #question-content-1,
#most-resent:checked~.peopel-question-content #question-content-2,
#unanswred:checked~.peopel-question-content #question-content-3,
#my-question:checked~.peopel-question-content #question-content-4,
#my-answer:checked~.peopel-question-content #question-content-5 {
    display: block;
}

#trending:checked~.question-labels #label-1,
#most-resent:checked~.question-labels #label-2,
#unanswred:checked~.question-labels #label-3,
#my-question:checked~.question-labels #label-4,
#my-answer:checked~.question-labels #label-5 {
    border: 1px solid rgb(219, 214, 214);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-bottom: 2px solid white;
    color: rgb(4, 112, 76);
}

.sidebar {
    width: 20%;
    height: 470px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px rgb(160, 159, 159);
    box-shadow: 1px 1px 3px rgb(160, 159, 159);
    background-color: white;
    padding: 20px;
}

.sidebar a {
    font-size: .7rem;

}

.sidebar>a {
    color: black;
    font-size: 1rem;
}

.sidebar a:hover {
    color: mediumturquoise;
}

.sidebar ul {
    width: 100%;
}

.sidebar ul li {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.sidebar ul li a {
    color: gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidebar i {
    margin: 0 10px;

}

.peopel-question-content li {
    min-height: 120px;
    border-bottom: 1px solid rgb(219, 214, 214);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.post-details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.post-details a {
    font-size: .7rem;
    margin: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    color: rgb(104, 103, 103);
    font-weight: lighter;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post-topic {
    margin: 7px;
    width: 100%;
}

.post-topic a {
    font-size: .9rem;
    font-weight: normal;
    color: black;
    text-align: left;
}

.tags a {
    font-size: .6rem;
    display: inline-block;
    margin: 1px;
    color: white;
    background-color: rgb(5, 168, 114);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
}

.tags a:hover {
    background-color: rgb(5, 116, 79);
}

.post-user-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 5px 0;
}

.post-user-info>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post-user-info div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.post-user-info span {
    font-size: .8rem;
    color: gray;
}

.post-user-info a {
    color: rgb(5, 168, 114);
    font-size: .7rem;
    text-align: right;
}

.post-user-info img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 7px;
}

.signin-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 200px;
}

.signin-content h3 {
    font-size: 1.1rem;
    color: rgb(105, 103, 103);
}

.signin-content p {
    margin: 10px 0;
    font-weight: normal;
}

.signin-content a {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: rgb(5, 168, 114);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .9rem;
}

@media screen and (max-width:600px) {
    .descuss {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .Discussions {
        width: 90%;
        margin: 40px 0;
    }

    .sidebar {
        width: 90%;
    }

    #question-content-1,
    #question-content-2,
    #question-content-3,
    #question-content-4,
    #question-content-5 {
        padding: 10px 5px;
    }

    .question-labels {
        display: none;
    }

    .post-details div:first-child a:first-child {
        border-bottom: 1px solid rgb(223, 217, 217);

    }

    .post-details div:first-child a {
        padding: 3px;
        width: 50%;
    }

    #select-item {
        display: block;
    }

    .question-section a {
        display: none;
    }

    .options {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .options a {
        width: 100px;
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: white;
        background-color: mediumseagreen;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-size: .8rem;
        font-weight: bold;
    }

    .options select {
        border: 1px solid rgb(224, 221, 221);
    }

    .question-section {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .question-section form {
        width: 70%;
    }

}

@media screen and (min-width:600px) and (max-width:1200px) {
    .Discussions {
        width: 60%;
    }

    .sidebar {
        width: 30%;
    }
}






/* discus-spost */
.discus-spost {
    width: 45%;
    min-height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 40px;
}

.Ask-question {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px rgb(160, 159, 159);
    box-shadow: 1px 1px 3px rgb(160, 159, 159);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.Ask-question a,
.answer-questions a {
    font-size: .8rem;
}

.Ask-question .topic-question,
.answer-questions .topic-question {
    color: black;
    font-size: 1.1rem;
    font-weight: normal;
}

.Ask-question p,
.answer-questions p {
    font-size: .8rem;
    margin: 10px 0;
}

.btn-control {
    width: 10%;
    padding: 0 15px;
    text-align: center;
}

.btn-control button {
    background-color: transparent;
}

.btn-control button i {
    color: rgb(236, 230, 230);
    font-size: 20px;
}

.btn-control input {
    color: rgb(9, 170, 116);
    font-size: .7rem;
    margin: 5px auto;
    display: block;
}

.btn-control div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.reply-container {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px rgb(160, 159, 159);
    box-shadow: 1px 1px 3px rgb(160, 159, 159);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 40vh;
}

.answer-questions {
    width: 100%;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgb(233, 226, 226);
}

.reply-control {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 80px;
    padding: 0 5px;
}

.reply-control a {
    color: rgb(104, 104, 189);
}

.reply-control select {
    border: 1px solid rgb(190, 190, 192);
    background-color: white;
    padding: 10px;
}

@media screen and (max-width:600px) {

    .discus-spost {
        width: 90%;
        margin: 40px 0;
    }



}

@media screen and (min-width:600px) and (max-width:1200px) {
    .discus-spost {
        width: 60%;
    }

}

/* discuss-form */
.discuss-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px 0;
}

.discuss-form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.discuss-form form label {
    font-weight: bold;
    margin-top: 5px;
    font-size: .9rem;
}

.discuss-form form input,
.discuss-form form textarea {
    border: 1px solid rgb(209, 198, 198);
    margin: 5px 0;
    padding: 5px 10px;
}

.recaptcha {
    width: 100%;
    padding: 10px 0;
}

.form-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.form-btn button {
    background-color: transparent;
    margin: 0 10px;
    color: gray;
    font-size: 1rem;
}

.form-btn button:last-child {
    color: rgb(5, 168, 114);
}

.max-height {
    height: 70vh;
}
.write-answre-box{
    width: 100%;
    min-height: 400px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px rgb(160, 159, 159);
    box-shadow: 1px 1px 3px rgb(160, 159, 159);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 20px 0;

}
.write-answre-box p{
    color: rgb(48, 46, 46);
    margin: 5px;
}