.first-code {
    width: 100%;
    min-height: 100px;
}
.first-code i{
    margin: 5px;
}
.run-code {
    width: 100%;
    padding: 20px 30px;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgb(185, 181, 181);
}
.run-code-btn{
    width: 70px;
    height: 30px;
    background-color: #2493df;
    color: #fff;
    border-radius: 3px;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.run-code-btn i{
    font-size: .7rem;
}
.coding {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    height: 85vh;
}

.code-result {
    width: 50%;
}

.tab {
    width: 100%;
    height: 100%;
}

.tab input[type='radio'] {
    display: none;
}

.tab-item {
    width: 100%;
    padding: 0 80px;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    border-bottom: 1px solid thistle;
    height: 50px;
}

.tab-item label {
    width: 100px;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: gray;
}

.tab-content {
    width: 100%;
    background-color: rgb(233, 239, 241);
    padding: 50px 100px;
    height: 100%;
}

.write-code {
    width: 50%;
    height: 93vh;
    background-color: black;
    position: relative;
}

.write-code .hljs-string {
    color: #2f6833;
    font-size: .8rem;
}

.write-code .hljs {
    color: rgb(173, 177, 167);
    font-size: .9rem;
}

.write-code .hljs-number {
    color: #5d615d;
}

.write-code .hljs-function {
    color: rgb(216, 105, 14) !important;
}

.write-code .hljs-title {
    color: maroon !important;
}

.write-code .hljs-built_in {
    color: rgb(238, 205, 61) !important;
}

.write-code .hljs-keyword {
    color: pink !important;
}

.write-code .hljs-function>.write-code .hljs-keyword {
    color: rgb(141, 3, 26) !important;
    font-style: italic;
}

#tab-content-1 p {
    margin: 20px 0;
}

#tab-content-2 {
    flex-direction: column;
}

#tab-content-2 details {
    width: 100%;
    min-height: 40px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

#tab-content-2 details div>div {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(202, 209, 211);
    margin: 10px 0;
    padding: 5px 10px;
    font-size: .7rem;
    color: rgb(80, 78, 78);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
}

#tab-content-2 details div label {
    font-size: .9rem;
    margin: 5px 0;
}

#tab-content-2 details div>div:nth-of-type(2) {
    height: 40px;
    background-color: rgb(29, 30, 31);
    font-size: .8rem;
    color: rgb(248, 248, 248);
}

#tab-content-2 details summary {
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;
    align-items: center;
}

#tab-content-2 details summary span {
    background-image: url(../img/arrow-down-sign-to-navigate.png);
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
}

#tab-content-2 details[open] summary span {
    background-image: url(../img/navigate-up-arrow.png);

}

.fa-times-circle {
    color: rgb(201, 78, 62);
    margin: 5px;
    font-size: 1.2rem;
}

.read-comment {
    margin: 20px 0;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
}

.read-comment p {
    font-size: .9rem;
}

.read-comment button {
    width: 130px;
    height: 30px;
    background-color: #2493df;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
}

#tab-content-1,
#tab-content-2 {
    display: none;
}

#tab-1:checked~.tab-content #tab-content-1,
#tab-2:checked~.tab-content #tab-content-2 {
    display: block;
}

#tab-1:checked~.tab-item #tab-item-1,
#tab-2:checked~.tab-item #tab-item-2 {
    border-bottom: 6px solid blue;
    color: black;
}
@media screen and (max-width:768px){
    .tab-content{
        padding: 50px 20px;
    }
    .tab-item{
        padding: 0;
    }

}

@media screen and (max-width:500px){
    .coding{
        flex-wrap: wrap;
    }
    .code-result,.write-code{
        width: 100%;
    }
    .code-result{
        order: 2;
    }
    .write-code{
        order: 1;
        height: 50vh;
    }
    .loader {
        position: relative;
        margin: 0 auto;
        width: 30px;
        top: 20%;
      }
        
}



.showbox {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
  }
  
  .loader {
    position: relative;
    margin: 0 auto;
    width: 50px;
  }
  
  .loader::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 899, 200;
      stroke-dashoffset: -124px;
    }
  }
  
  @keyframes color {
    100% {
    }
    0% {
      stroke: red;
    }
    40% {
      stroke: blue;
    }
    66% {
      stroke: green;
    }
    80% {
    }
    90% {
      stroke: yellow;
    }
  }
  