/* foooter */

footer {
    width: 100%;
    min-height: 10vh;
    background-color: #1f1e28;
}

footer section {
    width: 100%;
    height: 100%;
}

.footer-top-section {
    width: 100%;
    min-height: 80vh;
    border-bottom: 1px solid #575e61;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.footer-top-section h1 {
    font-size: 4rem;
    color: #fff;
}

.footer-top-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;

}

.footer-top-section a {
    display: inline-block;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: #2493df;
    color: #fff;
    margin: 30px 0;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.social-media-list {
    width: 100%;
    padding: 30px 50px;
    display: -webkit-box;    display: -ms-flexbox;    display: flex;
    align-items: center;
    min-height: 120px;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
}

.social-media-list ul {
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
}

.social-media-list li {
    margin: 0 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.social-media-list h3{
    font-size: .9rem;
}
.footer-list-menu {
    display: -webkit-box;    display: -ms-flexbox;    display: flex;
    background-color: #100f14;
    width: 100%;
    min-height: 100px;
    padding: 0 50px;
    align-items: center;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
}

.footer-list-menu ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;

}

.footer-list-menu li {
    margin: 0 10px;
}

.footer-list-menu a {
    color: #777d80;
}

.footer-list-menu li:nth-child(9) a::after {
    content: "We're hiring";
    color: #fff;
    background-color: #2493df;
    padding: 3px;
    border-radius: 50px;
    font-size: .7rem;
    margin: 0 5px;
}

.footer-list-menu div p {
    color: #777d80;
    font-size: 1.1rem;
}

.footer-list-menu span {
    color: red;
}

.social-media-icon {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;

}

.social-media-icon a {
    margin: 0 5px;
}

.social-media-icon a img {
    width: 100px;
}

.social-media-list img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

@media screen and (max-width:600px) {
    .footer-top-section h1 {
        font-size: 3rem;
        text-align: center;
        padding: 0 20px;
        line-height: 1;
        align-items: center;
        -webkit-box-align: center;
    }

    .social-media-list,
    .footer-list-menu {
        padding: 20px 0;
        flex-wrap: wrap;
        align-items: center;
        -webkit-box-align: center;
        -webkit-flex-wrap: wrap;
    }

    .footer-list-menu ul,
    .social-media-list ul {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid rgb(128, 123, 123);
        padding: 20px;
        -webkit-flex-wrap: wrap;
        -webkit-box-align: center;

    }

    .social-media-list li,
    .footer-list-menu li {
        width: 150px;
        margin: 10px 17px;
    }

    .footer-list-menu div {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        display: -webkit-box;
        justify-content: center;
        align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .social-media-icon {
        display: flex;
        width: 100%;
        padding: 20px;
        align-items: center;
        display: -webkit-flex;
        display: -webkit-box;
        align-items: center;
        -webkit-box-align: center;
    }


}

.social-media-icon {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;


}

.social-media-icon a img {
    width: 100px;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .social-media-list li {
        margin: 10px;
    }

    .social-media-list ul {
        /* width: 80%; */
        min-height: 50px;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }

    .footer-list-menu,
    .social-media-list {
        flex-wrap: wrap;
        padding: 20px 0;
        -webkit-flex-wrap: wrap;
    }

    .footer-list-menu ul,
    .social-media-list ul {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid rgb(128, 123, 123);
        padding: 20px;
        -webkit-flex-wrap: wrap;
        -webkit-box-align: center;

    }

    .social-media-icon {
        display: flex;
        width: 100%;
        padding: 20px;
        align-items: center;
        display: -webkit-flex;
        display: -webkit-box;
        -webkit-box-align: center;
    }

    .footer-list-menu div {
        padding: 10px 20px;
    }

}