.forgot-password {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;
    background-color: #f2f5f8;
    padding-top: 120px;
    flex-wrap: wrap;
}

.password {
    padding: 0 20px;
}

.password>div {
    width: 600px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: .5px 1px 5px rgb(138, 136, 136);
    padding: 20px;
}

.password div h1 {
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(105, 98, 98);
}

.password div p {
    font-size: 1.2rem;
    margin: 7px 0;
}

.password form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.password form input {
    width: 60%;
    border-bottom: 1px solid rgb(60, 60, 61);
    margin: 5px 0;
}

.password form input:focus {
    border-color: blue;
    border-width: 2px;
}

.password form input::placeholder {
    font-size: 1.2rem;
    color: rgb(136, 138, 136);
}

.password form button {
    display: inline-block;
    margin: 30px auto;
    width: 120px;
    height: 45px;
    background-color: #1abc9c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.password form button:hover {
    background-color: #13967c;
}

.app-column>div {
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: .5px 1px 5px rgb(138, 136, 136);
    align-items: center;
}

.app-column>div a {
    margin: 10px 0;
}

.app-column div a {
    width: 90%;
    height: 65px;
}

.app-column div a:not(:last-child) img {
    width: 100%;
    height: 100%;
}

.custom-button {
    background-color: #1abc9c;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    color: #fff;
}

.custom-button img {
    width: 40px;
    height: 40px;
    margin: 0 7px;
}
@media screen and (min-width:600px) and (max-width:950px) {
    .password > div,.app-column div{
        transform: scale(.9);
    }
}
@media screen and (max-width:600px) {
    .password > div,.app-column div{
        width: 100%;
        margin: 20px 0;
    }
    .password form input{
        width: 100%;
    }
    .password div p{
        font-size: 1rem;
    }
}