header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    background-color: #1f1e28;
    padding: 0 50px;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: space-evenly; */
    -ms-flex-align: center;
    align-items: center;
    z-index: 5;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
}

/* header */
.logo {
    width: 30%;
    color: var(--color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 3rem;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
}

.menu {
    width: 70%;

}

header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
    -webkit-box-align: center;
}

/* nav style */
nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
}

nav ul li {
    margin: 0 20px;
}

nav>ul li a {
    font-size: 1.2rem;
    color: var(--color);
}

.user-information img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.user-information {
    background-color: transparent !important;
    border: none;
    align-items: center;
    display: flex;
}

.user-information span {
    color: var(--color);
}

.login-btn-desktop,
.login-btn-mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    height: auto;
}

.login-btn-desktop a,
.login-btn-mobile a {
    width: 120px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid #2493df;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: center;
}

.login-btn-desktop a:last-child,
.login-btn-mobile a:last-child {
    background-color: #2493df;
    border: none;
}

/* hamburger-menu */
.menu-title {
    color: var(--color);

}

.toggle-wrap {
    padding: 10px;
    position: absolute;
    cursor: pointer;
    /* float: left; */
    right: 20px;
    display: none;
    font-size: 1.4rem;
    /* disable selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-bar {
    width: 38px;
    margin: 10px 5px;
    position: relative;
    border-top: 6px solid var(--color);
    display: block;
}

.toggle-bar::before,
.toggle-bar::after {
    content: "";
    display: block;
    background: var(--color);
    height: 6px;
    width: 38px;
    position: absolute;
    top: -16px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: 13%;
    -webkit-transform-origin: 13%;
    transform-origin: 13%;
}

.toggle-bar::after {
    top: 4px;
}

.toggle-wrap.active .toggle-bar {
    border-top: 6px solid transparent;
}

.toggle-wrap.active .toggle-bar::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-wrap.active .toggle-bar::after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* responsive menu */
.nav-menu {
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    right: 0;
    background-color: var(--bgcolor);
    min-height: 55vh;
    display: none;
    border: .2px solid #2d3846;
    -webkit-box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    z-index: 10;
}

.fixed {
    display: block;
}

.nav-menu ul {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 20px 10px;
    height: 270px;
    border-bottom: .2px solid #2d3846;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-align: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}

nav .nav-menu li {
    margin: 7px;
}

.nav-menu li a {
    color: var(--color);
}

/* responsive header */
@media screen and (max-width:1100px) {
    .toggle-wrap {
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        display: -webkit-box;
    }

    header {
        padding: 0 20px;
        overflow-x: hidden;
    }

    .logo span {
        display: none;
    }

    .deskop-menu {
        display: none;
    }

    .login-btn-desktop {
        display: none
    }

    .login-btn-mobile {
        height: 70px;
        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
    }

}

@media screen and (min-width:700px) and (max-width:1100px) {
    .nav-menu {
        width: 50%;
        right: 0;
        left: auto;
    }
}

.user-information img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.login-btn-desktop .user-information {
    border-color: transparent;
    border: none;
    color: black;
    align-items: center;
    display: flex;

}