/* home-learn */
.home-learn {
    width: 100%;
    transform: translateY(100px);
    min-height: 90vh;
    background-color: #1f1e28;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.home-learn>div {
    padding: 40px;
    margin: 50px 0;
}

.home-learn h1 {
    color: #fff;
    font-size: 5rem;
    margin: 20px 0;
    text-align: center;
}

.start {
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.start p {
    text-align: center;
    color: rgb(240, 235, 235);
    font-size: 1.5rem;
}

.start button {
    width: 210px;
    height: 50px;
    background-color: #2493df;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    /* -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center; */
}
