/* home-solo */

.home-solo {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(233, 238, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px 0 50px 0;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.cards {
    /* position: absolute; */
    top: 200px;
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

@media screen and (max-width:900px) {
    .cards {
        grid-template-columns: 100%;
    }
}

.cards>div {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
display: flex;
}

.cards>div h2 {
    font-size: 2rem;
    color: #1f1e28;
}

.cards>div>p {
    text-align: center;
    font-size: 1.2rem;
    color: #413f55;
}

.cards div:nth-child(4) {
    flex-direction: row;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;
    /* min-height: 480px; */
    grid-column: 1 / 3;
    -webkit-box-orient:vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    

}

.cards div:nth-child(4) p {
    font-size: 1.2rem;
    color: #413f55;
}

.cards>div>img {
    width: 350px;
}

.social-icon {
    width: 70%;
    display: -webkit-box;    display: -ms-flexbox;    display: flex;
    align-items: center;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
}

.social-icon img {
    width: 150px;
    margin: 20px 0;
}

@media screen and (max-width:900px) {

    .cards>div,
    .cards div:nth-child(4) {
        /* width: 100%; */
        justify-content: center;
        align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
    }

    .cards>div>img {
        width: 300px;
    }
    .home-solo {
        padding: 160px 0 50px 0;
    }
    
    .cards div:nth-child(4) {
        flex-wrap: wrap;
        /* min-height: 480px; */
        justify-content: center;
        align-items: center;
        grid-column: auto;
        align-items: center;
        -webkit-box-align: center;
    }

    .social-icon {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;

    }

    .social-icon img {
        margin: 0;
    }

    .cards>div h2 {
        font-size: 1.5rem;
        color: #1f1e28;
        text-align: center;
    }

    .cards>div p {
        text-align: center;
        font-size: 1rem;
        color: #413f55;
    }

    .cards div:nth-child(4) p {
        font-size: 1.2rem;
        color: #413f55;
    }


}
@media screen and (min-width:768px) and (max-width:1200px){
    .home-solo {
        padding: 350px 0 50px 0;
    }

}

