.item-content {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(246, 246, 250);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}

.item-content>div {
    display: -webkit-box; display: -ms-flexbox; display: flex;
}
.welcome i{
    margin: 0 5px;
}
.welcome {
    padding: 50px;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.welcome > div:first-child{
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobile-welcome{
    display: none;
    text-align: center;
}
.progress-bar span {
    width: 50px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid rgb(2, 70, 2);
    margin: 0 5px;
    position: relative;
}
.progress-bar span:first-child{
    background-color: rgb(138, 228, 186);


}
.welcome button{
    background-color: transparent;
    cursor: pointer;
}

.progress-bar span:first-child:after{
    content: '';
    position: absolute;
    border-right: 10% solid transparent;
    background-color: rgb(26, 177, 131);
    width: 50%;
    height: 8px;
    z-index: 2;
    left: 0;
    border-radius: 50px;
    -webkit-transform: skew(-25deg,0);    -ms-transform: skew(-25deg,0);    transform: skew(-25deg,0);

}
.contents {
    width: 35%;
    height: 500px;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}

.contents h2 {
    margin: 10px 0;
}

.contents p {
    margin: 10px 0;
    font-size: .9rem;
}

.err {
    width: 100%;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(241, 221, 182);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
}
.err i{
    font-size: 1.2rem;
    color: rgb(226, 168, 59);
    margin: 0 10px;
}

.continue-btn {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    width: 100%;
    border-top: 1px solid #ccc;
    align-items: center;
    height: 100px;
    justify-content: center;
}

.continue-btn button {
    display: inline-block;
    background-color: #2493df;
    color: #fff;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    -webkit-transform: translateX(190px);    -ms-transform: translateX(190px);    transform: translateX(190px);
}
.fa-comment-alt{
    display: none !important;
}
.fa-chevron-left{
    display: inline-block !important;
}
.welcome-head{
    font-size: 1rem !important;color: rgb(85, 87, 92);
}
@media screen and (max-width:600px){
    .contents {
        width: 90%;
    }
    .continue-btn button {
        -webkit-transform: translateX(90px);        -ms-transform: translateX(90px);        transform: translateX(90px);
    }
    .fa-comment-alt{
        display: inline-block !important;
    }
    
    .mobile-welcome{
        display: block;
    }
    .welcome-head,.fa-chevron-left{
        display: none !important;
    }
}
@media screen and (min-width:600px) and (max-width:1000px){
    .contents {
        width: 60%;
    }
    
}


/* date-sicencs */
.date-sicencs{
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.date-sicencs label{
    width: 100%;
    height: 40px;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 1px 1px 5px rgb(204, 201, 201);
    margin: 10px 0;
}
.date-sicencs input{
    margin: 0 5px;
}
.btn-section i{
    -webkit-transform: translateX(50px);    -ms-transform: translateX(50px);    transform: translateX(50px);
    color: #2493df;

}
.btn-section button:first-of-type{
    background-color: transparent;
    border: 1px solid #2493df;
    color: #2493df;
    -webkit-transform: translateX(-50px);    -ms-transform: translateX(-50px);    transform: translateX(-50px);
}
.btn-section button:last-of-type{
    opacity: .5;
}
.code-highlight , .code-highlight pre,.code-highlight code{
    border-radius: 10px;
}
.code-highlight  .hljs {
    color: rgb(173, 177, 167);
    font-size: .9rem;
}
@media screen and (max-width:768px){
    .btn-section button{
        width: 100px;
    }
}



.quiz{
    width: 100%;
    min-height: 240px;
    background-color: #d7dfe4;
}
.quiz > div{
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    margin: 20px 0;
    align-items: center;
    padding: 0 20px;
}
.quiz > div div{
    width: 100px;
    height: 30px;
    background-color: rgb(250, 249, 249);
    margin: 0 20px;
    border: 1px solid rgb(183, 183, 206);
}
.quiz > div span{
    width: 40px;
}


.drop-content{
    width: 100%;
    min-height: 100px;
    padding: 20px 40px;
    background-color: #d7dfe4;
    border-radius: 3px;
}
.drag-content{
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;

}
.drag-content span{
    margin: 0 10px;
    width: 100px;
    height: 40px;
    box-shadow: 1px 1px 5px rgb(201, 194, 194);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}