.item-content {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(246, 246, 250);
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.item-content>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.welcome i {
    margin: 0 5px;
}

.welcome {
    padding: 50px 130px;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

@media screen and (max-width:768px) {
    .welcome {
        padding: 50px;
    }

}

.welcome>div:first-child {
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-content aside {
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 5;
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    bottom: 0;
    overflow-y: hidden;
    transition: all 1 ease;
    -webkit-transition: all 1 ease;
    -moz-transition: all 1 ease;
    -ms-transition: all 1 ease;
    -o-transition: all 1 ease;
    box-shadow: 1px 1px 4px rgb(148, 143, 143);
}
.aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-search-input {
    margin: 30px 0;
}

.aside-search-input input {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 10px;
    background-color: rgb(213, 213, 230);
    display: inline-block;
}
.comment-wrapper input[type="radio"] {
    display: none;
}

.comment-tab {
    width: 100%;
    height: 30px;
    display: flex;
}

.comment-tab label {
    width: 60px;
    height: 100%;
    margin: 0 5px;
}
.comment-content{
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;

}
#popular-comment,
#resent-comment {
    display: none;
    padding: 10px;
}

#popular:checked~.comment-content #popular-comment,
#resent:checked~.comment-content #resent-comment {
    display: block;
}

#popular:checked~.comment-tab #first-tab,
#resent:checked~.comment-tab #second-tab {
    border-bottom: 5px solid blue;
}
.popular-comment p,#resent-comment p{
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(203, 203, 218);
    padding: 10px;
    margin: 20px 0;
    font-size: .9rem;
}
@media screen and (min-width:500px) and (max-width:1024px){
    .item-content aside{
        width: 50%;
    }
}

.mobile-welcome {
    display: none;
    text-align: center;
}

.progress-bar span {
    width: 50px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid rgb(2, 70, 2);
    margin: 0 5px;
    position: relative;
}

.progress-bar span:first-child {
    background-color: rgb(138, 228, 186);


}

.welcome button {
    background-color: transparent;
    cursor: pointer;
}

.progress-bar span:first-child:after {
    content: '';
    position: absolute;
    border-right: 10% solid transparent;
    background-color: rgb(26, 177, 131);
    width: 50%;
    height: 8px;
    z-index: 2;
    left: 0;
    border-radius: 50px;
    -webkit-transform: skew(-25deg, 0);
    -ms-transform: skew(-25deg, 0);
    transform: skew(-25deg, 0);

}

.contents {
    width: 35%;
    height: 500px;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}

.contents h2 {
    margin: 10px 0;
}

.contents p {
    margin: 10px 0;
    font-size: .9rem;
}

.err {
    width: 100%;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(241, 221, 182);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
}

.err i {
    font-size: 1.2rem;
    color: rgb(226, 168, 59);
    margin: 0 10px;
}

.continue-btn {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    width: 100%;
    border-top: 1px solid #ccc;
    align-items: center;
    height: 100px;
    justify-content: center;
}

.continue-btn button {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    transform: translateX(180px);
    -moz-transform: translateX(180px);
    -o-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    -ms-transform: translateX(180px);
}

.fa-comment-alt {
    display: none !important;
}

.fa-chevron-left {
    display: inline-block !important;
}

.welcome-head {
    font-size: 1rem !important;
    color: rgb(85, 87, 92);
}

@media screen and (max-width:600px) {
    .contents {
        width: 90%;
        height: 380px;
    }

    .continue-btn button {
        -webkit-transform: translateX(90px);
        -ms-transform: translateX(90px);
        transform: translateX(90px);
    }

    .fa-comment-alt {
        display: inline-block !important;
    }

    .mobile-welcome {
        display: block;
    }

    .welcome-head,
    .fa-chevron-left {
        display: none !important;
    }
}

@media screen and (min-width:600px) and (max-width:1000px) {
    .contents {
        width: 60%;
    }

}


/* date-sicencs */
.date-sicencs {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.date-sicencs label {
    width: 100%;
    height: 40px;
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 1px 1px 5px rgb(204, 201, 201);
    margin: 10px 0;
    position: relative;
}

.date-sicencs input[type="checkbox"] {
    margin: 0 5px;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(161, 14, 167);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.date-sicencs input[type="checkbox"]:checked {
    background-color: rgb(236, 132, 236);
    background-image: url(https://img.icons8.com/material-outlined/24/000000/checkmark--v2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-section i {
    transform: translateX(10px);
    color: black;
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
}

.btn-section > button:first-of-type {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transform: translateX(-95px);
    -webkit-transform: translateX(-95px);
    -moz-transform: translateX(-95px);
    -ms-transform: translateX(-95px);
    -o-transform: translateX(-95px);
}
.btn-section > button:last-of-type {
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}
@media screen and (max-width:500px){
    .item-content aside{
        width: 100%;
    }
}

/* .btn-section button:last-of-type {
    opacity: .5;
} */

.code-highlight,
.code-highlight pre,
.code-highlight code {
    border-radius: 10px;
}

.code-highlight .hljs {
    color: rgb(173, 177, 167);
    font-size: .9rem;
}

@media screen and (max-width:768px) {
    .btn-section button {
        width: 100px;
    }
}



.quiz {
    width: 100%;
    min-height: 240px;
    background-color: #d7dfe4;
}

.quiz>div {
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    margin: 20px 0;
    align-items: center;
    padding: 0 20px;
}

.quiz>div div {
    width: 100px;
    height: 30px;
    background-color: rgb(250, 249, 249);
    margin: 0 20px;
    border: 1px solid rgb(183, 183, 206);
}

.quiz>div span {
    width: 40px;
}


.drop-content {
    width: 100%;
    min-height: 100px;
    padding: 20px 40px;
    background-color: #d7dfe4;
    border-radius: 3px;
}

.drag-content {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;

}

.drag-content span {
    margin: 0 10px;
    width: 100px;
    height: 40px;
    box-shadow: 1px 1px 5px rgb(201, 194, 194);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* pup up */
.pup-up-parent{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 41, 41, 0.24);
    top: 0;

}
.pup-up{
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 4px gray;
    background-color: rgb(245, 243, 243);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.lotti-animation{
    width: 100%;
    height: 320px;
    border-bottom: 1px solid rgb(187, 187, 199);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.close-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.close-btn button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
@media screen and (max-width:500px){
    .pup-up{
      transform: scale(.8);
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
      -ms-transform: scale(.8);
      -o-transform: scale(.8);
}
.btn-section > button:first-of-type{
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
}
.btn-section > button:last-of-type{
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
}
}
video{
    margin: 20px 0;
    box-shadow: 1px 1px 3px rgb(124, 119, 119);
}