.header-user-details {
    display: flex;
    justify-content: space-between;
}

.go-pro {
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background-color: #fbb461;
    color: rgb(102, 43, 4);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.header-user-details img,
.header-user-details-mobile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.user-details {
    width: 200px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.header-user-details-mobile {
    display: none;
}

.not-border {
    border-bottom: none;
}

.header-user-details-mobile button {
    background-color: transparent;
    font-size: .9rem;
}

header i {
    margin: 0 5px;
}

/* header */





/* profile section style */
.profile {
    width: 100%;
    min-height: 190vh;
    background-color: hsl(0, 0%, 92%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
}

/* create div with border */
.border {
    position: absolute;
    top: 100px;
    width: 110%;
    height: 270px;
    background-color: rgb(107, 127, 153);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 30px;
}

.user-info i {
    color: yellow;
}

.user-info a {
    color: #fff;
    margin: 5px 0;
}

.banner {
    width: 48%;
    position: absolute;
    left: 50%;
    top: 330px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 70vh;
}


.banner-pro {
    width: 100%;
    min-height: 90px;
    border-radius: 5px;
    background-color: #2d3846;
    padding: 20px 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pro::after {
    content: 'pro';
    color: rgb(102, 43, 4);
    background-color: #fbb461;
    margin: 0 10px;
    padding: 3px 10px;
    border-radius: 50px;
}

.btn-pro a {
    width: 150px;
    height: 45px;
    background-color: #fbb461;
    color: rgb(102, 43, 4);
    border-radius: 5px;
    font-size: .9rem;
}

.ready {
    width: 100%;
    min-height: 150px;
    background-color: #fff;
    margin: 30px 0;
    border-radius: 5px;
    padding: 20px 30px;

}

.even {
    width: 100%;
    margin: 10px 0;
    background-color: rgb(223, 236, 236);
    display: flex;
    border-radius: 5px;
    padding: 15px 20px;
    align-items: center;
    font-size: .7rem;
    justify-content: space-between;
    min-height: 1px;

}

.even>div {
    display: flex;
}

.even img {
    width: 35px;
    height: 33px;
    margin: 0 10px;
    border-radius: 3px;
}

.even a {
    color: #fff;
    background-color: #2493df;
    width: 190px;
    height: 40px;
    border-radius: 3px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.course-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    flex-wrap: wrap;
}

.course-link {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #2493df;
    background-color: #f3f3f3;
    color: #2493df;
    font-weight: bold;
    font-size: .9rem;
}

.course-link:hover {
    background-color: #e7e5e5;
}

.course-section>div {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.course-section>div>div {
    margin: 10px 0;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 15px 20px;
}

.left-section-course>div>div {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    align-items: center;
}

.manage {
    color: #2493df;
}

.left-section-course img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left-section-course p,
.code-coach p {
    display: flex;
    justify-content: space-between;
    color: rgb(97, 99, 97);
}

progress {
    background-color: rgb(212, 212, 212);
    border-radius: 50px;
    height: 9px;
}

progress::-webkit-progress-bar {
    background-color: rgb(212, 212, 212);
    border-radius: 50px;
}

progress::-webkit-progress-value {
    background-color: rgb(9, 189, 9);
    border-radius: 50px;

}

.progress {
    padding: 2px;
    border-radius: 5px;
}

.progress:hover {
    background-color: rgba(134, 206, 240, 0.397);
    cursor: pointer;
}

.margin-paragraph {
    margin: 10px 0;
}








.badge-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.badge-item a {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 80, 181);
    margin: 20px 0;
}

.badge-item a img {
    width: 50px;
}

.badge-item a:hover {
    border: 2px solid rgb(200, 211, 233);
}

.company {
    width: 100%;
    display: flex;
    font-size: .7rem;
    margin: 15px 0;
    text-align: justify;
}

.company h5 {
    font-size: 1rem;
}

.company img {
    width: 45px;
    height: 45px;
    background-color: rgb(204, 198, 198);
    margin: 7px;
}

.carousel {
    width: 100%;
}

.carousel .swiper {
    width: 100%;
    padding: 0 !important;
}

.carousel .swiper-slide {
    width: 95% !important;
    font-size: .8rem;
    margin: 10px;
    padding: 0 20px;
}

.carousel .swiper-slide img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.carousel .swiper-slide a {
    width: 90%;
    height: 30px;
    background-color: #2493df;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.code-coach {
    position: relative;
    padding: 20px 30px;
}

.carousel .swiper-button-next,
.carousel .swiper-button-prev {
    transform: scale(.4);
    top: 30px;
}


.carousel .swiper-button-prev {
    transform: translateX(300px) scale(.4);
}

.flex-img {
    display: flex;
    align-items: center;
}

.flex-img span,
.flex-img p {
    font-size: .7rem;
}

.flex-img>div {
    margin: 0 10px;
}

.label {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label span:first-child {
    font-size: .6rem;
    background-color: #2493df;
    color: #fff;
    padding: 2px 8px;
    border-radius: 100px;
}

.label span:last-child {
    font-size: .7rem;
    background-color: #fbb461;
    color: #fff;
    padding: 2px 7px;
    border-radius: 100px;
    color: rgb(102, 43, 4);
    margin: 0 10px;
}

@media screen and (max-width:900px) {
    .border {
        width: 100%;
        border-radius: 0;

    }
}

@media screen and (max-width:1100px) {
    .user-info {
        justify-content: center;
        width: 100%;
    }

    .course-section>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .profile {
        min-height: 250vh;
    }

    .header-user-details {
        display: none;
    }

    .banner {
        width: 100%;

    }

    .course-section>div>div {
        margin: 10px 0;
    }

    .header-user-details-mobile {
        display: flex;
        flex-direction: column;
    }

    .header-user-details-mobile>div {
        border-bottom: 1px solid gray;
        padding: 15px;
    }
}

@media screen and (max-width:400px) {
    .border {
        height: 350px;
    }

    .user-info {
        justify-content: center;
    }

    .user-info div {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        font-size: .9rem;
    }

    .banner {
        top: 390px;
    }

    .banner-pro {
        padding: 10px;
        font-size: .8rem;
    }

    .course-section {
        justify-content: center;
        width: 60%;
    }

    .banner-pro {
        width: 60%;
    }

    .ready {
        width: 60%;
    }

    .even {
        padding: 10px;
        flex-wrap: wrap;

    }

    .carousel .swiper-button-prev {
        transform: translateX(200px) scale(.4);
    }

}

@media screen and (min-width:401px) and (max-width:1100px) {
    .course-section {
        justify-content: center;
        width: 60%;
    }

    .banner-pro {
        width: 80%;
    }

    .ready {
        width: 60%;
    }

}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .banner {
        width: 60%;
    }

}

@media screen and (min-width:1200px) {
    .carousel .swiper-button-prev {
        transform: translateX(200px) scale(.4);
    }

}

.profile-option {
    width: 170px;
    height: 180px;
    position: absolute;
    top: 80px;
    right: 100px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 4px #cccc;
    display: none;
}

.profile-option ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.block-profile-box {
    display: block;
}
.profile-modal-parent{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(43, 40, 40, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.profile-modal{
    width:550px;
    height: 450px;
    display: flex;
    padding: 20px;
    background-color: #cdd5e9;
    border-radius: 10px;
}