.header-user-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.go-pro {
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background-color: #fbb461;
    color: rgb(102, 43, 4);
    border-radius: 5px;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.header-user-details img,
.header-user-details-mobile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.user-details {
    width: 200px;
    margin: 0 20px;
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

}

.header-user-details-mobile {
    display: none;
}

.not-border {
    border-bottom: none;
}

.header-user-details-mobile button {
    background-color: transparent;
    font-size: .9rem;
}

header i {
    margin: 0 5px;
}

/* header */





/* profile section style */
.profile {
    width: 100%;
    min-height: 190vh;
    background-color: hsl(0, 0%, 92%);
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
}

/* create div with border */
.border {
    position: absolute;
    top: 100px;
    width: 110%;
    height: 270px;
    background-color: rgb(107, 127, 153);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-info {
    width: 50%;
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 30px;
}

.user-info i {
    color: yellow;
}

.user-info a {
    color: #fff;
    margin: 5px 0;
}

.banner {
    width: 48%;
    position: absolute;
    left: 50%;
    top: 330px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    min-width: 70vh;
}


.banner-pro {
    width: 100%;
    min-height: 90px;
    border-radius: 5px;
    background-color: #2d3846;
    padding: 20px 30px;
    color: #fff;
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pro::after {
    content: 'pro';
    color: rgb(102, 43, 4);
    background-color: #fbb461;
    margin: 0 5px;
    padding: 3px 10px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
}

.btn-pro {
    width: 150px;

}

.banner-pro p {
    font-size: 12px;
}

.banner-pro .btn-pro a {
    width: 150px;
    height: 45px;
    background-color: #fbb461;
    color: rgb(102, 43, 4);
    border-radius: 5px;
    font-size: .9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.ready {
    width: 100%;
    min-height: 150px;
    background-color: #fff;
    margin: 30px 0;
    border-radius: 5px;
    padding: 20px 30px;
}

.even {
    width: 100%;
    margin: 10px 0;
    background-color: rgb(223, 236, 236);
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    padding: 15px 20px;
    align-items: center;
    font-size: .7rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 1px;

}

.even>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.even img {
    width: 35px;
    height: 33px;
    margin: 0 10px;
    border-radius: 3px;
}

.even a {
    color: #fff;
    background-color: #2493df;
    width: 190px;
    height: 40px;
    border-radius: 3px;
    display: inline-block;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.course-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 50vh;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.course-link {
    width: 100%;
    height: 30px;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #2493df;
    background-color: #f3f3f3;
    color: #2493df;
    font-weight: bold;
    font-size: .9rem;
}

.course-link:hover {
    background-color: #e7e5e5;
}

.course-section>div {
    width: 48%;
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.course-section>div>div {
    margin: 10px 0;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 15px 20px;
}

.left-section-course>div>div {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 25px 0;
    -ms-flex-align: center;
    align-items: center;
}

.manage {
    color: #2493df;
}

.left-section-course img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left-section-course p,
.code-coach p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: rgb(97, 99, 97);
}

progress {
    background-color: rgb(212, 212, 212);
    border-radius: 50px;
    height: 9px;
}

progress::-webkit-progress-bar {
    background-color: rgb(212, 212, 212);
    border-radius: 50px;
}

progress::-webkit-progress-value {
    background-color: rgb(9, 189, 9);
    border-radius: 50px;

}

.progress {
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.progress:hover {
    background-color: rgba(134, 206, 240, 0.397);
    cursor: pointer;
}

.margin-paragraph {
    margin: 10px 0;
}

.progress section span {
    display: inline-flex;
    justify-content: flex-start;
    inline-size: 125px;
    overflow-wrap: break-word;
    word-break: break-all;
    align-items: center;
    height: 100%;
    font-size: 15px;
}

.progress section span:last-child {
    justify-content: flex-end;
    inline-size: 30px;
    font-size: 12px;
}






.badge-item {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}

.badge-item a {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 80, 181);
    margin: 20px 0;
}

.badge-item a img {
    width: 50px;
}

.badge-item a:hover {
    border: 2px solid rgb(200, 211, 233);
}

.company {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .7rem;
    margin: 15px 0;
    text-align: justify;
}

.company h5 {
    font-size: 1rem;
}

.company img {
    width: 45px;
    height: 45px;
    background-color: rgb(204, 198, 198);
    margin: 7px;
}

.carousel {
    width: 100%;
}

.carousel .swiper {
    width: 100%;
    padding: 0 !important;
}

.carousel .swiper-slide {
    width: 95% !important;
    font-size: .8rem;
    margin: 10px;
    padding: 0 20px;
}

.carousel .swiper-slide img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.carousel .swiper-slide a {
    width: 90%;
    height: 30px;
    background-color: #2493df;
    color: #fff;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.code-coach {
    position: relative;
    padding: 20px 30px;
}

.carousel .swiper-button-next,
.carousel .swiper-button-prev {
    -webkit-transform: scale(.4);
    -ms-transform: scale(.4);
    transform: scale(.4);
    top: 30px;
}


.carousel .swiper-button-prev {
    transform: translateX(350px)scale(.4);
    -moz-transform: translateX(350px)scale(.4);
    -o-transform: translateX(350px)scale(.4);
    -webkit-transform: translateX(350px)scale(.4);
    -ms-transform: translateX(350px)scale(.4);
}

.flex-img {
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.flex-img span,
.flex-img p {
    font-size: .7rem;
}

.flex-img>div {
    margin: 0 10px;
}

.label {
    padding: 10px 0;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label span:first-child {
    font-size: .6rem;
    background-color: #2493df;
    color: #fff;
    padding: 2px 8px;
    border-radius: 100px;
}

.label span:last-child {
    font-size: .7rem;
    background-color: #fbb461;
    color: #fff;
    padding: 2px 7px;
    border-radius: 100px;
    color: rgb(102, 43, 4);
    margin: 0 10px;
}

@media screen and (max-width:900px) {
    .border {
        width: 100%;
        border-radius: 0;

    }
}

@media screen and (max-width:600px) {
    .even {
        padding: 10px;
        flex-wrap: wrap;
    }

    .user-info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width:600px) and (max-width:1100px) {
    .user-info {
        justify-content: flex-start;
    }
}

@media screen and (max-width:1100px) {

    .course-section>div {
        width: 100%;
        display: -webkit-flex;
        display: -webkit-box;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-align: center;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .profile {
        min-height: 250vh;
    }

    .header-user-details {
        display: none;
    }

    .banner {
        width: 100%;

    }

    .course-section>div>div {
        margin: 10px 0;
        padding: 10px;
    }

    .header-user-details-mobile {
        display: flex;
        flex-direction: column;
    }

    .header-user-details-mobile>div {
        border-bottom: 1px solid rgb(221, 216, 216);
        padding: 15px;
        align-items: center;
    }

    .header-user-details-mobile>div:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width:400px) {
    .border {
        height: 350px;
    }

    .user-info {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .user-info div {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        font-size: .9rem;
    }

    .banner {
        top: 390px;
    }


    .course-section {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 60%;
    }




    .carousel .swiper-button-prev {
        transform: translateX(250px) scale(.4);
        -moz-transform: translateX(250px) scale(.4);
        -o-transform: translateX(250px) scale(.4);
        -webkit-transform: translateX(250px) scale(.4);
        -ms-transform: translateX(250px) scale(.4);
    }

}

@media screen and (max-width:700px) {
    .carousel .swiper-button-prev {
        transform: translateX(250px) scale(.4);
        -moz-transform: translateX(250px) scale(.4);
        -o-transform: translateX(250px) scale(.4);
        -webkit-transform: translateX(250px) scale(.4);
        -ms-transform: translateX(250px) scale(.4);
    }

}

@media screen and (min-width:700px) and (max-width:1100px) {
    .carousel .swiper-button-prev {
        transform: translateX(350px) scale(.4);
        -moz-transform: translateX(350px) scale(.4);
        -o-transform: translateX(350px) scale(.4);
        -webkit-transform: translateX(350px) scale(.4);
        -ms-transform: translateX(350px) scale(.4);
    }

}

@media screen and (min-width:401px) and (max-width:1100px) {
    .course-section {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 60%;
    }

    .banner-pro {
        width: 80%;
    }

    .ready {
        width: 60%;
    }

}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .banner {
        width: 60%;
    }

}

@media screen and (min-width:1200px) {
    .carousel .swiper-button-prev {
        -webkit-transform: translateX(200px) scale(.4);
        -ms-transform: translateX(200px) scale(.4);
        transform: translateX(200px) scale(.4);
    }

}

.profile-handle-responsive {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
}

.profile-option {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 80px;
    right: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 4px #cccc;
    display: none;
    border-radius: 5px;
}

.profile-option>div {
    border-bottom: 1px solid rgb(201, 195, 195);
    padding: 10px;
}

.profile-option>ul {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: flex-start;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.profile-option>ul li {
    width: 100%;
    padding: 7px 5px;
    margin: 0;
}

.profile-option>ul li:hover {
    background-color: rgb(226, 238, 238);
}

.profile-option>ul li a {
    font-size: .9rem !important;
    color: black;
}

.profile-option h5 {
    font-size: 1rem;
}

.profile-option span {
    font-size: .8rem;
    margin: 5px 0;
    color: rgb(94, 99, 100);
}

.block-profile-box {
    display: block;
}

.profile-modal-parent {
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(43, 40, 40, 0.5);
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.profile-modal {
    width: 550px;
    height: 460px;
    display: flex;
    background-color: #e4e7ee;
    border-radius: 10px;
}

.profile-links {
    border-right: 1px solid rgb(201, 197, 197);
    padding: 30px 20px;
    width: 30%;
}

.profile-links ul {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-align: flex-start;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 20px 0;
}

.profile-links ul li {
    margin: 5px 0;
}

.profile-links ul li a {
    font-size: .9rem;
    color: rgb(131, 134, 134) !important;
}

.profile-links ul li a.active-tab-btn {
    color: black !important;
}

#modal-tab-content-1,
#modal-tab-content-2,
#modal-tab-content-3,
#modal-tab-content-4 {
    display: none;
}

#modal-tab-content-1.active-tab-content,
#modal-tab-content-2.active-tab-content,
#modal-tab-content-3.active-tab-content,
#modal-tab-content-4.active-tab-content {
    display: block;
}

.profile-setting {
    display: -webkit-flex;
    display: -webkit-box;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 70%;

}

.profile-setting label {
    display: block;
    font-size: .7rem;
    color: black;
    font-weight: 500;
}

.change-profile h4 {
    padding: 5px 0;
}

.close-modal,
.close-modal-mobile {
    background-color: transparent;
    color: rgb(128, 123, 123);
    position: absolute;
    right: 20px;
    top: 20px;
}

.information input[type="file"] {
    display: none;
}

#output {
    width: 60px;
    height: 60px;
}

.information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0
}

.information div {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
}

.information div label,
.information div button {
    margin: 0 10px;
    padding: 5px 15px;
    background-color: #2493df;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
}

.profile-setting form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.profile-setting input,
.profile-setting textarea,
.profile-setting select {
    border: 1px solid rgb(164, 164, 167);
    margin: 5px 0;
    width: 70%;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: #f9fafd;
}

.information {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile-setting form button {
    /*margin: 5px 0;
    */
    width: 90px;
    height: 30px;
    background-color: #2493df;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

.profile-setting textarea::-webkit-input-placeholder {
    font-size: .7rem;
}

.profile-setting textarea::-moz-placeholder {
    font-size: .7rem;
}

.profile-setting textarea:-ms-input-placeholder {
    font-size: .7rem;
}

.profile-setting textarea::-ms-input-placeholder {
    font-size: .7rem;
}

.profile-setting textarea::placeholder {
    font-size: .7rem;
}

.seting-mobile-box {

    display: none;
    position: fixed;
    right: 0;
    top: 100px;
    background-color: rgb(255, 254, 254);
    width: 350px;
    height: 300px;
    color: rgb(26, 24, 24);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 1px 1px 5px gray;
    box-shadow: 1px 1px 5px gray;
    border-radius: 0 0 5px 5px;
}

.seting-mobile-box>div,
.seting-mobile-box ul {
    padding: 20px;
}

.seting-mobile-box>div {
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    border-bottom: 1px solid rgb(206, 204, 204);
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.seting-mobile-box img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 10px;
}

.seting-mobile-box ul li {
    margin: 5px 0;
}

.seting-mobile-box ul li a {
    font-size: 1.1rem;
    color: black;
}

.mobile-modal {
    display: none;
}

.profile-mobile-items,
.hide,
.back-btn {
    display: none;
}

@media screen and (max-width:500px) {

    .profile-mobile-items,
    .back-btn,
    .hide {
        display: block;
    }

    .profile-links {
        display: none;
    }

    .profile-modal {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }

    .profile-modal input,
    .profile-modal textarea,
    .profile-modal select {
        width: 100%;
        height: 40px;
    }

    .profile-modal .information img {
        border-radius: 50%;
    }
}



/* new-profile */
.transparent {
    background-color: transparent;
    color: black;
}

.wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 95%;
}

.wrap a {
    margin: 10px 5px;
}

.certificate-slider .carousel {
    margin: 5px 0;
}

.certificate-slider .swiper-slide {
    background-color: transparent;
    width: 130px !important;
    height: 140px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px 7px;
    margin: 5px 0;
}

.certificate-slider .swiper-slide div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(183, 183, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;

}

.certificate-slider .swiper-slide span {
    text-align: center;
}

.code-bite a div {
    width: 75%;
}

.code-bite h4,
.code-bite span {
    font-size: 13px;
    color: black;
}

.code-bite span {
    color: rgb(114, 109, 109);
    font-weight: lighter;
}

.code-bite img {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.certificate-slider {
    position: relative;
}

.certificate-slider .swiper-button-next,
.certificate-slider .swiper-button-prev {
    top: 30px;
    z-index: 20;
}

.left-shapes {
    position: absolute;
    left: -60%;
    top: -50%;
}

.right-shapes {
    position: absolute;
    right: -70%;
    top: 0;
}

.follow {
    display: flex;
}

.user-info-new {
    align-items: flex-start;
    padding: 50px 0;
    min-height: 300px;
}

.following {
    color: white;
    background-color: #2493df;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    margin: 0 10px;
    padding: 5px 15px;
}

.media-info a {
    margin: 5px;
}

.media-info i {
    color: #2d3846;
    font-size: 20px;
}

.follow-number a {
    color: #444547;
    font-size: 13px;
}

.fa-play-circle {
    font-size: 22px;
    color: #2493df;
}

@media screen and (max-width:600px) {
    .banner-pro-new {
        width: 70%;
    }

    .transparent {
        height: 400px;
    }

    .user-info-new {
        height: 400px;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
    }

    .user-info-new div {
        flex-wrap: wrap;
        text-align: center;
    }

    .top {
        top: 500px;
    }

    .right-shapes {
        display: none;
    }

    .left-shapes {
        left: -35%;
        top: -45%;
    }

    .following {
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .follow {
        justify-content: center;
        margin: 10px 0;
        margin-bottom: 0;
    }

    .follow h3 {
        transform: translate(-20px, 60px);
        -webkit-transform: translate(-20px, 60px);
        -moz-transform: translate(-20px, 60px);
        -ms-transform: translate(-20px, 60px);
        -o-transform: translate(-20px, 60px);
    }

    .bio {
        padding: 0 30px;
    }

    .top>section {
        width: 70%;
    }

    .media-info {
        transform: translate(70px, -145px);
        -webkit-transform: translate(70px, -145px);
        -moz-transform: translate(70px, -145px);
        -ms-transform: translate(70px, -145px);
        -o-transform: translate(70px, -145px);
    }

    .wrap a {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        margin: 10px;
    }

    .top section .left-section-course img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

}

.user-details a:first-child {
    align-items: center;
    display: flex;
}

.user-details a:first-child img {
    width: 20px;
    height: 20px;
    margin: 0 3px;
}

.user-details-mobile a {
    align-items: center;
    display: flex;
}

.user-details-mobile div {
    align-items: center;
}

.user-details-mobile a img {
    width: 20px;
    height: 20px;
    margin: 0 3px;
}

.header-user-details-mobile div:nth-child(2) a {
    display: flex;
    align-items: center;
    color: black;
}

.header-user-details-mobile div:nth-child(2) a img {
    margin: 0 5px;
}

.coding-image img {
    position: absolute;
    top: 0;
    width: 200px;
    min-height: 100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@media screen and (max-width:600px) {
    .banner-pro h4 {
        display: none;
    }

    .banner-pro,
    .user-info {
        width: 70%;
    }

    .ready {
        width: 70%;
    }

    .course-section {
        width: 70%;
    }

    .coding-image img {
        position: absolute;
        top: 0;
        width: 70px;
        min-height: 10px;
        left: 50px;
    }

    .banner-pro p {
        font-size: 11px;
        transform: translate(-12px, 25px);
        -webkit-transform: translate(-12px, 25px);
        -moz-transform: translate(-12px, 25px);
        -ms-transform: translate(-12px, 25px);
        -o-transform: translate(-12px, 25px);

    }
}

@media screen and (max-width:480px) {
    .user-info div {
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -o-transform: translateY(-25px);
        text-align: center;
        align-items: center;
    }

    .user-info-new div.media-info {
        transform: translate(70px, -145px);
        -webkit-transform: translate(70px, -145px);
        -moz-transform: translate(70px, -145px);
        -ms-transform: translate(70px, -145px);
        -o-transform: translate(70px, -145px);
    }


}

@media screen and (min-width:480px) and (max-width:600px) {
    .user-info div {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .user-info-new div.media-info {
        transform: translate(70px, -145px);
        -webkit-transform: translate(70px, -145px);
        -moz-transform: translate(70px, -145px);
        -ms-transform: translate(70px, -145px);
        -o-transform: translate(70px, -145px);
    }
}

@media screen and (max-width:1000px) {

    .banner-pro,
    .user-info {
        width: 70%;
    }
}

@media screen and (min-width:600px) and (max-width:1000px) {
    .ready {
        width: 60%;
    }

    .course-section {
        width: 60%;
    }
}

.flag-profile-header {
    transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
}

.cube-modal {
    position: absolute;
    top: 80px;
    min-height: 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(184, 184, 236);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 280px;
    right: 140px;
    font-size: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.grid {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(209, 209, 235);
}

.grid span {
    display: flex;
    align-items: center;
}

.grid span img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.grid p {
    margin: 14px 0;
    color: rgb(114, 130, 199);
}

.earn-bite {
    width: 100%;
    padding-top: 10px;
}

.earn-bite div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
}

.earn-bite div h5 {
    color: rgb(75, 100, 207);
}

.earn-bite div p {
    width: 70%;
    color: rgb(114, 130, 199);
}

.show-modal {
    display: flex;
}

.back-to-menu {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    color: #5772ec;
    font-weight: bold;
    display: none;
}

.cube {
    padding: 5px;

}

.cube:hover {
    background-color: rgb(223, 229, 235);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

@media screen and (max-width:600px) {
    .cube-modal {
        position: fixed;
        width: 100%;
        left: 0;
        top: 90px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .back-to-menu {
        display: flex;
    }


}

@media screen and (min-width:600px) and (max-width:1100px) {
    .cube-modal {
        position: fixed;
        width: 350px;
        right: 0;
        top: 100px;
    }

    .back-to-menu {
        display: flex;
    }

}