/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.single {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    min-height: 1000px;

}

.single::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.lesson-haeder {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-align: flex-start;

}

.back-link {
    display: inline-block;
    -webkit-transform: translate(200px, -60px);
    -ms-transform: translate(200px, -60px);
    transform: translate(200px, -60px);
}

.back-link a {
    color: black;
}

.back-link i {
    margin: 0 10px;
}

.introduce {
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.introduce img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
}

.lesson-select-item {
    width: 50%;
    position: absolute;
    top: 320px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    min-height: 100vh;
}

.lesson-select-item details {
    min-height: 100px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    -webkit-appearance: blue;
    -moz-appearance: blue;
    appearance: blue;
    padding: 25px;
    margin: 15px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.lesson-select-item details summary img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 10px;
    background-color: rgb(92, 159, 247);
}

.lesson-select-item details summary div {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

.lesson-select-item details summary {
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.lesson-select-item details summary span {
    background-image: url(../img/arrow-down-sign-to-navigate.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}

.lesson-select-item details[open] summary span {
    background-image: url(../img/navigate-up-arrow.png);

}

.lesson-tree {
    position: relative;
    padding: 10px;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    align-items: center;
}

.lesson-tree:before {
    content: '';
    width: 2px;
    height: 92%;
    position: absolute;
    background-color: rgb(143, 138, 138);
    left: 25px;
}

.lesson-tree>div {
    width: 80%;
    min-height: 120px;
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    /* overflow-x: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;

}

/* .lesson-tree>div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera 
} */

.lesson-tree>div::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(143, 138, 138);
    display: inline-block;
    position: absolute;
    left: 20px;
    overflow: visible;
    transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
    -moz-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    -o-transform: translateX(-1px);

}

.lesson-tree>div:nth-child(1):before,
.lesson-tree>div:nth-child(7):before {
    background-color: rgb(1, 190, 127);
}

.lesson-tree>div:nth-child(2):before,
.lesson-tree>div:nth-child(5):before,
.lesson-tree>div:nth-child(8):before {
    background-color: rgb(92, 159, 247);
}


.lesson-tree>div a {
    min-width: 200px;
    height: 100px;
    background-color: rgb(203, 211, 214);
    border-radius: 10px;
    margin: 0 7px;
    padding: 20px;
    position: relative;
}

.lesson-tree>div:nth-child(3) a,.lesson-tree>div:nth-child(4) a,.lesson-tree>div:nth-child(6) a {
    cursor: no-drop;
}

.lesson-tree>div:last-child a {
    width: 100%;
}

.lesson-tree>div:last-child a div {
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

.lesson-tree>div:last-child a img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.lesson-tree h5 {
    color: black;
    margin: 5px 0;
}

.lesson-tree p {
    color: rgb(107, 112, 121);
    font-size: .7rem;
}

@media screen and (max-width:600px) {
    .lesson-tree>div {
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
    }

    .lesson-tree>div::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }

    .lesson-select-item {
        width: 100%;
        border-radius: 0;
        top: 350px;
    }

    .lesson-select-item details {
        border-radius: 0;
    }

    .lesson-tree>div a {
        min-width: 150px;
    }

    .lesson-tree>span {
        right: 48%;
        top: 65%;
    }

    .introduce {
        width: 80%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        padding: 30px 0;
    }

    .introduce>div {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .introduce>div p {
        font-size: .9rem;
        padding-bottom: 30px;
    }

    .back-link {
        -webkit-transform: translate(20px, 20px);
        -ms-transform: translate(20px, 20px);
        transform: translate(20px, 20px);
    }

    .back-link span {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:1000px) {
    .lesson-select-item {
        width: 90%;
        border-radius: 0;
    }

    .lesson-select-item details {
        border-radius: 5px;
    }
}

@media screen and (max-width:1400px) {

    .lesson-tree>div {
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
    }

    .lesson-tree>div::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }

    .lesson-tree>div::before {
        left: 20px;
        transform: translateX(-1px);
        -webkit-transform: translateX(-1px);
        -moz-transform: translateX(-1px);
        -ms-transform: translateX(-1px);
        -o-transform: translateX(-1px);
    }

}

.tick,
.luck {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-justify-content: flex-end;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
}

.tick span {
    width: 25px;
    height: 25px;
    background-color: rgb(1, 190, 127);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}

.luck span {
    width: 25px;
    height: 25px;
    background-color: rgb(190, 183, 183);
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(134, 132, 132);
    border-radius: 50%;

}

.pro-items {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 5px 0;
    color: black;
}

.pro-lesson::after {
    right: 10px;
    position: absolute;
}

.pro-items .plus {
    background-color: rgb(92, 159, 247);
    padding: 2px 5px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}