* {
    font-family: 'Iranian Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
footer,
.story-description,
.home-propage-flexbox,
.nav-menu,
.welcome,
.err,
.edit-profile,
.login-parentو.forgot-passwordو.password,
.password form,
.profile,
.code-coach .swiper-slide,
.lesson-select-item,
.coming-soon,
.date-sicencs,
.first-code,
.item-content aside,
.question,
.descuss,
.post-user-info div,
.blog-container,
.leaderbaord {
    direction: rtl;
}

.start a {
    width: 250px;
    height: 60px;
}

.question summary {
    font-size: .8rem;
}

.item-content aside {
    left: -100%;
}

.coming-soon h1,
.blog-content p,
.card-content p,
.post-topic a {
    text-align: right;
}

.code-coach,
.write-code {
    direction: ltr;
}

.lesson-tree:before {
    right: 25px;
}

.lesson-tree>span {
    right: 0;
    transform: translate(330px, 50px);
    -webkit-transform: translate(330px, 50px);
    -moz-transform: translate(330px, 50px);
    -ms-transform: translate(330px, 50px);
    -o-transform: translate(330px, 50px);
}



.carousel .swiper-button-prev {
    -webkit-transform: translateX(0) scale(.4);
    -ms-transform: translateX(0) scale(.4);
    transform: translateX(0) scale(.4);
}

.carousel .swiper-button-next {
    -webkit-transform: translateX(-200px) scale(.4);
    -ms-transform: translateX(-200px) scale(.4);
    transform: translateX(-200px) scale(.4);
}

.password {
    order: 2;
}

.app-column {
    order: 1;
}

.home-learn h1 {
    font-size: 3.5rem;
}

.cards>div h2 {
    font-size: 1.5rem;
}

.cards>div>p,
.cards>div>strong {
    font-size: .9rem;
    line-height: 2;
}

.home-platform h1 {
    font-size: 3rem;
}

.platforms h2 {
    font-size: 1.5rem;
}

.platforms p {
    font-size: 1rem;
}

.Supportive-child span {
    font-size: 3.5rem;
}

.home-job h1 {
    font-size: 2rem;
}

.answer div h3 {
    font-size: 1.5rem;
}

.why-code p {
    font-size: 1rem;
}

.home-propage-head h1 {
    font-size: 3rem;
}

.home-propage-flexbox div span {
    font-size: 3rem;
}

.home-propage-flexbox div p {
    font-size: 1rem;
}

.btn-pro a {
    font-size: .8rem;
}

.story-title h1 {
    font-size: 3rem;
}

.story-description p,
.story-description span {
    font-size: 1.1rem;
}

.home-propage-head h1::after {
    content: 'حرفه ای';
}

.award h1 {
    font-size: 3rem;
}

.footer-top-section h1 {
    font-size: 3rem;
}

.footer-list-menu a {
    font-size: .8rem;
}

.footer-list-menu div p {
    font-size: .9rem;
}

.social-media-list h3 {
    font-size: .8.5rem;
}

.or-line::after {
    content: '';
    width: 150px;
    height: .5px;
    background-color: rgba(153, 144, 144, 0.8);
    position: absolute;
    -webkit-transform: translate(-5px, 12px);
    -ms-transform: translate(-5px, 12px);
    transform: translate(-5px, 12px)
}

.or-line::before {
    content: '';
    width: 150px;
    height: .5px;
    background-color: rgba(153, 144, 144, 0.8);
    position: absolute;
    -webkit-transform: translate(105%, 12px);
    -ms-transform: translate(105%, 12px);
    transform: translate(105%, 12px)
}

.name {
    margin-right: 10px;
}

.btn-control input {
    transform: translateX(43%);
    -webkit-transform: translateX(43%);
    -moz-transform: translateX(43%);
    -ms-transform: translateX(43%);
    -o-transform: translateX(43%);
}

.footer-list-menu ul {
    width: 80%;
}

.social-media-list h3 {
    inline-size: 70%;
    font-size: .8rem;
}

.footer-list-menu div p {
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
}
.lesson-tree>div::before {
   display: none;
}

.lesson-tree>div::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(143, 138, 138);
    display: inline-block;
    position: absolute;
    right: 20px;
    overflow: visible;
    transform: translateX(1px);
    -webkit-transform: translateX(1px);
    -moz-transform: translateX(1px);
    -ms-transform: translateX(1px);
    -o-transform: translateX(1px);
}
.pro-lesson::after{
    right: 50%;
    transform: translate(-50%,-5px);
    -webkit-transform: translate(-50%,-5px);
    -moz-transform: translate(-50%,-5px);
    -ms-transform: translate(-50%,-5px);
    -o-transform: translate(-50%,-5px);
}
.lesson-tree > div .luck-lesson{
    opacity: .5;
}
.lesson-tree div.green-tick::after{
    background-color: rgb(1, 190, 127);
}
.lesson-tree div.blue-pluss::after{
    background-color: rgb(92, 159, 247)
}
.lesson-tree div.disable::after{
    background-color: rgb(132, 143, 146);
}
.lesson-tree div.disable a{
    opacity: .5;
    cursor: default;
}
@media screen and (max-width:1100px) {
    .social-media-list {
        padding: 20px;
        flex-wrap: wrap;
        align-items: center;
        -webkit-box-align: center;
        -webkit-flex-wrap: wrap;
    }

    .footer-list-menu ul {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid rgb(128, 123, 123);
        padding: 20px;
        -webkit-flex-wrap: wrap;
        -webkit-box-align: center;

    }

    .social-media-list li {
        width: 150px;
        margin: 10px 12px;
    }



    .social-media-icon {
        display: flex;
        width: 100%;
        padding: 20px;
        align-items: center;
        display: -webkit-flex;
        display: -webkit-box;
        align-items: center;
        -webkit-box-align: center;
    }


}

@media screen and (max-width:768px) {
    .question {
        min-height: 350vh;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .question {
        min-height: 200vh;
    }
}


@media screen and (max-width:600px) {
    .ledaerbaord-list-items ul li::before {
        left: 0;
    }

    .ledaerbaord-list-items ul li p {
        left: -70px;
        top: 65%;
        width: 100%;

        
    } 
    .home-learn h1,
    .home-platform h1,
    .home-propage-head h1,
    .story-title h1,
    .award h1,
    .footer-top-section h1 {
        font-size: 2rem;
    }

    .footer-list-menu ul {
        width: 100%;
    }


}