/* styles of header  */
@import './header.css';
/* styles of section home-learn class */
@import "./home-learn.css";
/* styles of section home-course class */
@import './home-course.css';
/* styles of section home-solo class */
@import "./home-solo.css";
/* styles of section home-platform class */
@import './home-platform.css';
/* styles of section Supportive-community class */
@import './Supportive-community.css';
/* styles of section home-job class */
@import './home-job.css';
/* styles of section why-code class */
@import './why-code.css';
/* styles of section home-propage class */
@import './home-propage.css';
/* styles of section story class */
@import './story.css';
/* styles of footer */
@import './footer.css';

/* import css files */


:root {
    --color: #fff;
}
/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    border: none;
    outline: none;
    text-decoration: none;
    line-height: 1.5;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}
/* rest style */