*{
    font-family: 'Iranian Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
footer,
.story-description,
.home-propage-flexbox,
.nav-menu,.welcome,.err {
    direction: rtl;
}

.home-learn h1 {
    font-size: 3.5rem;
}
.cards>div h2 {
    font-size: 1.5rem;
}
.cards>div>p,.cards >div>strong {
    font-size: .9rem;
    line-height: 2;
}
.home-platform h1 {
    font-size: 3rem;
}
.platforms h2 {
    font-size: 1.5rem;
}
.platforms p {
    font-size: 1rem;
}
.Supportive-child span {
    font-size: 3.5rem;
}
.home-job h1 {
    font-size: 2rem;
}
.answer div h3 {
    font-size: 1.5rem;
}

.why-code p {
    font-size: 1rem;
}
.home-propage-head h1 {
    font-size: 3rem;
}
.home-propage-flexbox div span {
    font-size: 3rem;
}

.home-propage-flexbox div p {
    font-size: 1rem;
}
.btn-pro a {
    font-size: .8rem;
}
.story-title h1 {
    font-size: 3rem;
}
.story-description p,
.story-description span {
    font-size: 1.1rem;
}
.home-propage-head h1::after {
    content: 'حرفه ای';
}
.award h1 {
    font-size: 3rem;
}
.footer-top-section h1 {
    font-size: 3rem;
}
.footer-list-menu a {
    font-size: .8rem;
}
.footer-list-menu div p {
    font-size: .9rem;
}

.social-media-list h3 {
    font-size: .8rem;
}
@media screen and (max-width:600px) {
    .social-media-list {
        padding: 20px;
        flex-wrap: wrap;
        align-items: center;
        -webkit-box-align: center;
        -webkit-flex-wrap: wrap;
    }

    .footer-list-menu ul {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid rgb(128, 123, 123);
        padding: 20px;
        -webkit-flex-wrap: wrap;
        -webkit-box-align: center;

    }

    .social-media-list li{
        width: 150px;
        margin: 10px 12px;
    }

   

    .social-media-icon {
        display: flex;
        width: 100%;
        padding: 20px;
        align-items: center;
        display: -webkit-flex;
        display: -webkit-box;
        align-items: center;
        -webkit-box-align: center;
    }


}