:root {
    --color: #fff;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    border: none;
    outline: none;
    text-decoration: none;
    line-height: 1.5;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/* rest style */

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    background-color: #1f1e28;
    padding: 0 50px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    z-index: 5;
}

/* header */
.logo {
    width: 30%;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.menu {
    width: 70%; 

}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-size: 1.2rem;
    color: #c8d2db;
}

.login-btn-desktop,.login-btn-mobile {
    display: flex;
    align-items: center;
}
.login-btn-desktop a ,.login-btn-mobile a{
    width: 120px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid #2493df;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn-desktop a:last-child, .login-btn-mobile a:last-child{
    background-color: #2493df;
    border: none;
}

.toggle-wrap {
    padding: 10px;
    position: absolute;
    cursor: pointer;
    float: left;
    right: 20px;
    display: none;
  
    /* disable selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  }
  .toggle-bar,
  .toggle-bar::before,
  .toggle-bar::after,
  .toggle-wrap.active .toggle-bar,
  .toggle-wrap.active .toggle-bar::before,
  .toggle-wrap.active .toggle-bar::after {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .toggle-bar {
    width: 38px;
    margin: 10px 0;
    position: relative;
    border-top: 6px solid var(--color);
    display: block;
  }
  .toggle-bar::before,
  .toggle-bar::after {
    content: "";
    display: block;
    background: var(--color);
    height: 6px;
    width: 38px;
    position: absolute;
    top: -16px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: 13%;
    -webkit-transform-origin: 13%;
    transform-origin: 13%;
  }
  .toggle-bar::after {
    top: 4px;
  }
  .toggle-wrap.active .toggle-bar {
    border-top: 6px solid transparent;
  }
  .toggle-wrap.active .toggle-bar::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .toggle-wrap.active .toggle-bar::after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .nav-menu{
      position: fixed;
      width: 100%;
      top: 90px;
      left: 0;
      right: 0;
      background-color: #ffffff;
      height: 40vh;
      display: none;
      box-shadow: 0px 0px 5px rgb(211, 203, 203);
  }
  .fixed{
      display: block;
  }
  .nav-menu ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px 10px;
      border-bottom: 1px solid rgb(228, 220, 220);
      height: 250px;
  }
  nav .nav-menu li{
      margin: 7px;
  }
@media screen and (max-width:768px){
    .toggle-wrap {
        display: block;
    }
    header{
        padding: 0 20px;
        overflow-x: hidden;
    }
    .logo span{
        display: none;
    }
    .deskop-menu {display: none;}
    .login-btn-desktop {
        display: none
    }
    .login-btn-mobile{
        height: 70px;
        justify-content: center;
    }
    
}










/* home-learn */
.home-learn {
    width: 100%;
    transform: translateY(100px);
    min-height: 100vh;
    background-color: #1f1e28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-learn>div {
    padding: 40px;
    margin: 50px 0;
}

.home-learn h1 {
    color: #fff;
    font-size: 5rem;
    margin: 20px 0;
    text-align: center;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start p {
    text-align: center;
    color: rgb(240, 235, 235);
    font-size: 1.5rem;
}

.start button {
    width: 210px;
    height: 50px;
    background-color: #2493df;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
/* homee-course */
.home-course {
    width: 100%;
    background-color: transparent;
    padding: 30px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    z-index: 4;
    /* top: 50%; */
    /* left: 0;
    right: 0; */
}

.home-course>div {
    width: 90%;
    background-color: #fff;
    height: 250px;
    padding: 20px;
}

.swiper {
    width: 90%;
    /* background-color: #fff; */
}

.swiper-slide {
    background-color: rgb(233, 238, 241);
    margin: 0 20px;
    height: 100px;
    width: 200px !important;
    height: 200px !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.swiper-slide span {
    font-size: 1.3rem;
    margin: 10px 0;
}


@media screen and (max-width:768px){
    .home-learn h1{
        font-size: 2.5rem;
    }
    .start p {
        font-size: 1rem;
    }
    .home-course{
        background-color: #fff;
        
    }
    .home-course>div,.swiper {
        width: 100%;
    }
    .swiper-button-next,.swiper-button-prev{
        display: none;
    }

}



/* home-solo */

.home-solo {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(233, 238, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px 0 50px 0;
}

.cards {
    /* position: absolute; */
    top: 200px;
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

@media screen and (max-width:900px) {
    .cards {
        grid-template-columns: 100%;
    }
}

.cards>div {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.cards>div h2 {
    font-size: 2rem;
    color: #1f1e28;
}

.cards>div>p {
    text-align: center;
    font-size: 1.2rem;
    color: #413f55;
}

.cards div:nth-child(4) {
    flex-direction: row;
    justify-content: space-between;
    /* min-height: 480px; */
    grid-column: 1 / 3;
}

.cards div:nth-child(4) p {
    font-size: 1.2rem;
    color: #413f55;
}

.cards>div>img {
    width: 350px;
}

.social-icon {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon img {
    width: 150px;
    margin: 20px 0;
}

@media screen and (max-width:900px) {

    .cards>div,
    .cards div:nth-child(4) {
        /* width: 100%; */
        justify-content: center;
        align-items: center;
    }

    .cards>div>img {
        width: 300px;
    }

    .cards div:nth-child(4) {
        flex-wrap: wrap;
        /* min-height: 480px; */
        justify-content: center;
        align-items: center;
        grid-column: auto;
    }

    .social-icon {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .social-icon img {
        margin: 0;
    }

    .cards>div h2 {
        font-size: 1.5rem;
        color: #1f1e28;
        text-align: center;
    }

    .cards>div p {
        text-align: center;
        font-size: 1rem;
        color: #413f55;
    }

    .cards div:nth-child(4) p {
        font-size: 1.2rem;
        color: #413f55;
    }


}

/* home-platform */


.home-platform {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.home-platform>div {
    width: 80%;
}

.home-platform h1 {
    text-align: center;
    padding: 20px;
    margin: 30px 0;
    font-size: 4rem;
    color: #1f1e28;
}

.platforms {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.platforms>div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.platforms h2 {
    font-size: 2rem;
    color: #1f1e28;
}

.platforms p {
    text-align: center;
    color: #413f55;
    font-size: 1.3rem;
}

.platforms>div img {
    transform: scale(.8);
}

@media screen and (max-width:900px) {
    .home-platform h1 {
        font-size: 2rem;
    }

    .home-platform>div {
        width: 90%;
        margin: 50px 0;
    }

    .platforms>div {
        width: 100%;
    }

    .platforms>div img {
        width: 400px;
    }

}

/* Supportive-community */

.Supportive-community {
    width: 100%;
    height: 90vh;
    background-color: rgb(233, 238, 241);
    display: flex;
    justify-content: center;
    padding: 5% 0;
    position: relative;
}

.Supportive-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Supportive-child h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #1f1e28;
}

.Supportive-child span {
    font-size: 5.5rem;
    color: #2493df;
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.Supportive-child p {
    font-size: 1.3rem;
    color: #575572;
}

.left-circle-img {
    position: absolute;
    left: 5%;
    top: 20%;
    display: flex;
    flex-direction: column;
}

.left-circle-img img,
.right-circle-img img {
    border-radius: 100%;
    width: 80px;
    margin: 25px 0;
}

.right-circle-img img {
    margin: 20px 0;
}

.left-circle-img img:first-child {
    width: 60px;
}

.left-circle-img img:nth-child(2) {
    width: 100px;
}

.left-circle-img img:nth-child(odd) {
    transform: translateX(130px);
}

.left-circle-img img:last-child {
    width: 150px;
}

.right-circle-img {
    position: absolute;
    right: 5%;
    top: 20%;
    display: flex;
    flex-direction: column;
}

.right-circle-img img:first-child,
.right-circle-img img:last-child {
    transform: translateX(-100px);
}

.right-circle-img img:nth-child(2) {
    width: 60px;
    transform: translateX(80px);
}

.right-circle-img img:nth-child(3) {
    width: 150px;
}

.left-circle-img span,
.right-circle-img span {
    width: 30px;
    height: 30px;
    background-color: #2493df;
    border-radius: 50%;
}

.left-circle-img span:first-child {
    transform: translate(100px, -80px);
    width: 60px;
    height: 60px;
}

.left-circle-img span:last-child {
    transform: translate(10px, 250px);
}

.right-circle-img span:first-child {
    transform: translate(-120px, -70px);
}

.right-circle-img span:last-child {
    transform: translate(-200PX, 250PX);
}

@media screen and (max-width:768px) {
    .Supportive-community {
        height: 70vh;
    }

    .svg {
        display: none;
    }

    .Supportive-child {
        /* padding: 0 30px; */
        transform: translateY(-80px);
    }

    .Supportive-child h3 {
        font-size: 1.5rem;
    }

    .Supportive-child span {
        font-size: 2rem;
    }

    .Supportive-child p {
        font-size: 1rem;
        text-align: center;
    }

    /* left */
    .left-circle-img,
    .right-circle-img {
        bottom: -50%;
        flex-direction: row;
        transform: translateY(50%);
    }

    .left-circle-img {
        left: 0;
    }

    .left-circle-img img:nth-child(odd) {
        transform: translateX(0);
    }

    .left-circle-img img,
    .right-circle-img img {
        border-radius: 100%;
        width: 30px;
        margin: 25px 0;
        height: 30px;

    }

    .left-circle-img img:first-child {
        width: 30px;
        transform: translate(0, 80px);
    }

    .left-circle-img img:nth-child(2) {
        width: 50px;
        height: 50px;
        transform: translate(-10px, -70px);
    }

    .left-circle-img img:last-child {
        width: 35px;
        height: 35px;
        transform: translate(40px, -70px);
    }

    .left-circle-img span:first-child {
        transform: translate(15px, 30px);
        width: 10px;
        height: 10px;
    }

    .left-circle-img span:last-child {
        transform: translate(130px, -5px);
        width: 20px;
        height: 20px;

    }

    /* right */
    .right-circle-img img:first-child,
    .right-circle-img img:last-child {
        transform: translateX(0);
    }

    .right-circle-img img:nth-child(2) {
        width: 30px;
        transform: translateX(0);
    }

    .right-circle-img img:nth-child(3) {
        width: 30px;
    }

}

/* home-job */
.home-job {
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-job h1 {
    font-size: 2.7rem;
    color: #1f1e28;
    padding: 0 20px;
}

.home-job mark {
    color: #2493df;
    background-color: transparent;
}

.change {
    display: inline-flex;
    width: 420px;
    animation: opacity 2s ease infinite;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .home-job {
        padding: 30px;
    }

    .home-job h1 {
        font-size: 2.5rem;
        padding: 0;
    }

    .change {
        width: 100%;
        display: block;
    }

}

/* why-code */
.why-code {
    width: 100%;
    min-height: 90vh;
    background-color: rgb(233, 238, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.why-code>div {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mycode-heading {
    min-height: 300px;
}

.why-code h1 {
    text-align: center;
    color: #1f1e28;
    font-size: 4rem;
}

.why-code h1 span {
    background: #d4e4ee;
    padding: 0 5px;
    color: #2493df;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.why-code h1 span::after {
    content: '|';
    color: #1f1e28;
    animation: opacity 1s linear infinite;
}


@keyframes opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.answer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;
}

.answer>div {
    width: 30%;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.answer div img {
    transform: translateY(-150px);
}

.answer>div div {
    transform: translateY(-120px);
    text-align: center;
    padding: 0 30px;
}

.answer div h3 {
    font-size: 2rem;
    color: #3c3a4e;
}

.why-code p {
    font-size: 1.3rem;
    color: #575572;
}

.why-code-description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
    text-align: center;
}

.why-code-description a {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #2493df;
    color: #fff;
    display: grid;
    align-content: center;
    margin: 20px 0;
}

@media screen and (max-width:768px) {
    .answer>div {
        width: 100%;
        margin: 120px 0;
    }

    .mycode-heading {
        display: flex;
        align-items: center;
        padding-bottom: 50px;
    }

    .why-code h1 {
        font-size: 2.5rem;
    }

    .answer div img {
        width: 300px;
        transform: translateY(-200px);

    }

    .why-code-description {
        width: 100%;
    }
}

/* home-propage */
.home-propage {
    width: 100%;
    min-height: 90vh;
    background-color: #2d3846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.home-propage>div {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-propage-head {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-propage-head h1 {
    font-size: 4.5rem;
    color: #fff;
}

.home-propage-head h1::after {
    content: 'PRO';
    background-color: #fbb461;
    color: rgb(102, 43, 4);
    border-radius: 50px;
    font-size: 1.7rem;
    padding: 3px 20px;
    display: inline-block;
    transform: translateY(-8px);
}

.home-propage-flexbox {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: auto;
}

.home-propage-flexbox div {
    width: 30%;
    min-height: 330px;
    border: 1px solid #f0ece9;
    border-radius: 5px;
    margin: 15px;
    padding: 40px;
}

.home-propage-flexbox div h3 {
    font-size: 2rem;
    color: #fff;
}

.home-propage-flexbox div span {
    font-size: 3.5rem;
    color: #fbb461;
    margin: 15px 0;
    font-weight: bold;
    display: inline-block;
}

.home-propage-flexbox div p {
    color: #c5c4d6;
    font-size: 1.3rem;
}

.home-propage-flexbox mark {
    background-color: transparent;
    color: #fbb461;
}

.items {
    width: 80%;
    display: flex;
    min-height: 200px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.items div {
    margin: 0 25px;
    color: #fbb461;
    font-size: 1.5rem;
}

.btn-pro {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pro a {
    width: 90%;
    height: 60px;
    background-color: #fbb461;
    color: rgb(102, 43, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .home-propage {
        padding: 50px 20px;
    }

    .home-propage-head h1 {
        font-size: 2.5rem;
    }

    .home-propage-flexbox div {
        width: 100%;
    }

    .items {
        justify-content: flex-start;
    }

    .items div {
        margin: 15px 0;
    }

    .btn-pro {
        width: 100%;
    }

}

/* story */
.story {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.story>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-story {
    width: 100%;
    position: relative;
}

.success-story>img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.success-story-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(196, 189, 189);
    padding: 30px 0;
}

.absolute {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgb(233, 228, 228);
    border-radius: 10px;
    height: 60px;
    min-width: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sertificate {
    top: 60%;
    left: -70px;
}

.Kotlin {
    top: 40%;
    right: -50px;
}

.dubble-qutation {
    top: -20px;
    right: 70px;
}

.story-title {
    padding: 30px 0;
}

.story-title h1 {
    font-size: 4rem;
    color: #2d3846;
}

.story-title span {
    font-size: 2.5rem;
    color: #2493df;
    text-align: center;
    display: block;
}

.story-description p,
.story-description span {
    font-size: 1.2rem;
    color: #575572;
}

.story-description span {
    margin: 20px 0;
    display: inline-block;
}

.thanks {
    padding: 20px 0;
    color: red;
    display: flex;
    font-size: 1.2rem;
}

.thanks p {
    color: #575572;
    margin: 0 5px;
}

@media screen and (max-width:768px) {
    .story {
        padding: 50px 30px;
    }

    .story>div {
        width: 95%;
        align-items: flex-start;
    }

    .story-title h1 {
        font-size: 1.5rem;
    }

    .story-title span {
        margin: 0;
        font-size: 1.5rem;
        text-align: left;
    }

    .sertificate,
    .Kotlin,
    .dubble-qutation {
        display: none;
    }

    .success-story-wrapper {
        align-items: flex-start;
    }

}

/* award */

.award {
    width: 100%;
    min-height: 60vh;
    background-color: rgb(233, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.award>div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.award h1 {
    font-size: 4rem;
    color: #1f1e28;
}

.award-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    flex-wrap: wrap;
}

.award-box>div {
    text-align: center;
    color: #575572;
}

.award-box h4 {
    color: #413f55;
    font-size: 1.1rem;
}

@media screen and (max-width:768px) {
    .award>div {
        width: 90%;
    }

    .award-box>div {
        width: 100%;
        margin: 50px 0;
    }

    .award h1 {
        font-size: 2.5rem;
        text-align: center;
    }
}

/* foooter */

footer {
    width: 100%;
    min-height: 100vh;
    background-color: #1f1e28;
}

footer section {
    width: 100%;
    height: 100%;
}

.footer-top-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    border-bottom: 1px solid #575e61;
}

.footer-top-section h1 {
    font-size: 4rem;
    color: #fff;
}

.footer-top-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-top-section a {
    display: inline-block;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: #2493df;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.social-media-list {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    min-height: 120px;
    justify-content: space-between;
}

.social-media-list ul {
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
}

.social-media-list li {
    margin: 0 30px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.footer-list-menu {
    display: flex;
    background-color: #100f14;
    width: 100%;
    min-height: 100px;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-list-menu ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

}

.footer-list-menu li {
    margin: 0 10px;
}

.footer-list-menu a {
    color: #777d80;
}

.footer-list-menu li:nth-child(9) a::after {
    content: "We're hiring";
    color: #fff;
    background-color: #2493df;
    padding: 3px;
    border-radius: 50px;
    font-size: .7rem;
    margin: 0 5px;
}

.footer-list-menu div p {
    color: #777d80;
    font-size: 1.1rem;
}

.footer-list-menu span {
    color: red;
}

@media screen and (max-width:768px) {
    .footer-top-section h1 {
        font-size: 3rem;
        text-align: center;
        padding: 0 20px;
        line-height: 1;
    }

    .social-media-list,
    .footer-list-menu {
        padding: 20px 0;
    }

    .footer-list-menu ul,
    .social-media-list ul {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid rgb(128, 123, 123);
        padding: 20px;

    }

    .social-media-list li,
    .footer-list-menu li {
        width: 120px;
        margin: 10px;
    }

    .footer-list-menu div {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}