<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

</head>

<body>
    <header class="header-light">
        <div class="logo-light-header">
            <img class="logo-icon" src="../img/Sololearn.png" alt="logo" width="50px"><span> TechWich</span>
        </div>
        <div class="menu">
            <nav>
                <!-- hamburger-button -->
                <div class="toggle-wrap" onclick="toggleMenu(this)">Menu
                    <span class="toggle-bar"></span>
                </div>
                <!-- mobile-menu -->
                <div class="nav-menu login-menu">
                    <ul>
                        <li><a href="">Courses</a></li>
                        <li><a href="">Code Playground</a></li>
                        <li><a href="">Discuss</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Get Pro</a></li>
                    </ul>
                    <div class="header-user-details-mobile">
                        <div class="user-details-mobile">
                            <div> <button><i class="fas fa-star"></i>500</button></div>
                        </div>
                        <div class="profile-handle-responsive">
                            <a href=""><img src="../img/community-user-16.png" alt=""></a>Lori A. Barlow
                        </div>
                        <div class="not-border"> <a href="" class="go-pro"><i class="fas fa-star"></i>Go PRO
                            </a>
                        </div>
                    </div>
                </div>
                <!-- desctop-menu -->
                <ul class="deskop-menu">
                    <li><a href="">Courses</a></li>
                    <li><a href="">Code Playground</a></li>
                    <li><a href="">Discuss</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
                <div class="header-user-details">
                    <a href="" class="go-pro"><i class="fas fa-star"></i>Go PRO
                    </a>
                    <div class="user-details">
                        <button><i class="fas fa-star"></i>500</button>
                        <a href="" class="profile-handle"><img src="../img/community-user-16.png" alt=""></a>
                        <div class="profile-option">
                            <div>
                                <h5>username</h5>
                                <span>go to profile</span>
                            </div>
                            <ul>
                                <li><a href="" class="setting"><i class="fas fa-cog"></i>setting</a>
                                    <div class="profile-modal-parent">
                                        <div class="profile-modal">
                                            <di class="profile-links">
                                                <h3>Edit Profile</h3>
                                                <ul>
                                                    <span>Information</span>
                                                    <li><a href="">password</a></li>
                                                    <li><a href="">Connected Accounts</a></li>
                                                    <li><a href="">Sololearn PRO</a></li>
                                                </ul>
                                            </di>
                                            <di class="profile-setting">
                                                <div><button class="close-modal">close</button></div>
                                                <div class="change-profile">
                                                    <h4>Information
                                                    </h4>
                                                    <div class="information">
                                                        <img src="../img/community-user-16.png" alt="" id="output">
                                                        <div>
                                                            <label for="image-uploader">change
                                                                <input type="file" id="image-uploader"
                                                                    onchange="loadFile(event)">
                                                            </label>
                                                            <button><i>set</i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile-form-info">
                                                    <form action="">
                                                        <label for="">Username
                                                        </label>
                                                        <input type="text">
                                                        <label for="">Email address
                                                        </label>
                                                        <input type="email">
                                                        <label for="">Bio
                                                        </label>
                                                        <textarea name="" id="" cols="30" rows="3"
                                                            placeholder="describe yourself..."></textarea>
                                                        <label for="">Country</label>
                                                        <select name="" id="">
                                                            <option value="">iran</option>
                                                            <option value="">us</option>
                                                        </select>

                                                        <button>save</button>
                                                    </form>
                                                </div>
                                            </di>
                                        </div>
                                    </div>
                                </li>
                                <li><a href=""><i class="fas fa-question-circle"></i>help</a></li>
                                <li><a href=""><i class="fal fa-sign-out"></i>log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="seting-mobile-box">
            <div><a href="">back</a></div>
            <div><img src="../img/community-user-16.png" alt=""><span>username</span></div>
            <ul>
                <li><a href="" class="open-modal-mobile"><i class="fas fa-cog"></i>setting</a></li>
                <li><a href=""><i class="fas fa-question-circle"></i>help</a></li>
                <li><a href=""><i class="fal fa-sign-out"></i>log out</a></li>
            </ul>
        </div>
        <div class="profile-modal-parent mobile-modal">
            <div class="profile-modal">
                <di class="profile-links">
                    <h3>Edit Profile</h3>
                    <ul>
                        <span>Information</span>
                        <li><a href="">password</a></li>
                        <li><a href="">Connected Accounts</a></li>
                        <li><a href="">Sololearn PRO</a></li>
                    </ul>
                </di>
                <di class="profile-setting">
                    <div><button class="close-modal-mobile">close</button></div>
                    <div class="change-profile">
                        <h4>Information
                        </h4>
                        <div class="information">
                            <img src="../img/community-user-16.png" alt="" id="output">
                            <div>
                                <label for="image-uploader">change
                                    <input type="file" id="image-uploader" onchange="loadFile(event)">
                                </label>
                                <button><i>set</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="profile-form-info">
                        <form action="">
                            <label for="">Username
                            </label>
                            <input type="text">
                            <label for="">Email address
                            </label>
                            <input type="email">
                            <label for="">Bio
                            </label>
                            <textarea name="" id="" cols="30" rows="3" placeholder="describe yourself..."></textarea>
                            <label for="">Country</label>
                            <select name="" id="">
                                <option value="">iran</option>
                                <option value="">us</option>
                            </select>

                            <button>save</button>
                        </form>
                    </div>
                </di>
            </div>
        </div>
    </header>
    <script src="../js/header-mode-color.js"></script>
    <script>
        let profile = document.querySelector('.profile-handle')
        let profilebox = document.querySelector('.profile-option')
        let setting = document.querySelector('.setting')
        let closemodal = document.querySelector('.close-modal')
        let profilemodal = document.querySelector('.profile-modal-parent')
        let settingbox = document.querySelector('.profile-option')
        let closemodalmobile = document.querySelector('.close-modal-mobile')
        let mobilemodal = document.querySelector('.mobile-modal')
        let openmodalmobile = document.querySelector('.open-modal-mobile')
        let mobileboxhandle = document.querySelector('.profile-handle-responsive')
        let mobilebox = document.querySelector('.seting-mobile-box')
        let navmenu = document.querySelector('.nav-menu')
        let togglewrap = document.querySelector('.toggle-wrap')

        profile.addEventListener('click', (e) => {
            e.preventDefault()
            profilebox.classList.toggle('block-profile-box')
        })

        setting.addEventListener('click', (e) => {
            e.preventDefault()
            profilemodal.style.display = 'flex'
        })
        closemodal.addEventListener('click', () => {
            profilemodal.style.display = 'none'
            profilebox.classList.toggle('block-profile-box')

        })
        mobileboxhandle.addEventListener('click', (e) => {
            mobilebox.style.display = 'flex'
            navmenu.classList.toggle('fixed')
        })

        closemodalmobile.addEventListener('click', () => {
            mobilemodal.style.display = 'none'
            mobilebox.style.display = 'none'
            togglewrap.classList.toggle("active");
            // document.querySelector('.nav-menu').classList.toggle('fixed')
        })
        openmodalmobile.addEventListener('click', (e) => {
            e.preventDefault()
            mobilemodal.style.display = 'flex'
            profilemobileitem.style.display = 'block'
        })

        var loadFile = function (event) {
            var image = document.getElementById("output");
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        let options = [{
                countrie: 'Afghanistan'
            }, {
                countrie: 'Aland Islands'
            }, {
                countrie: 'Albania'
            }, {
                countrie: 'Algeria'
            }, {
                countrie: 'Andorra'
            }, {
                countrie: 'Angola'
            }, {
                countrie: 'Anguilla'
            }, {
                countrie: 'Antarctica'
            }, {
                countrie: 'Antigua & Barbuda'
            }, {
                countrie: 'Argentina'
            }, {
                countrie: 'Armenia'
            }, {
                countrie: 'Aruba'
            }, {
                countrie: 'Australia'
            }, {
                countrie: 'Austria'
            }, {
                countrie: 'Azerbaijan'
            }, {
                countrie: 'Bahamas'
            },

        ]
        let select = document.querySelector('select')
        select.addEventListener('click', () => {
            for (let i = 0; i < options.length; i++) {
                select.innerHTML += `<option>${options[i].countrie}</option>`
            }
        })
    </script>
</body>

</html>